.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* Fuerza a que haya siempre 2 columnas */
  }
}

.course-card {
  display: flex;
  flex-direction: column;
  padding: 2px;
  width: 100%;
  max-width: 400px;
  align-items: left;
  gap: .5rem;
  justify-content: center;
}

.course-card img {
  height: auto;
  object-fit: cover;
}

.course-info {
  padding: 10px;
  text-align: center;
}

.course-info h3 {
  margin-top: 0;
}
