
<section class="vh100 pdt60">
    <div class="cw" fxLayout="column">
      <div fxLayoutAlign="center">
        <mat-icon class="ftxxxl gray-4 linkIcon centertext"> list</mat-icon>
      </div>
  
      <h6 class="h6Title centertext">Términos y condiciones</h6>
  
      <h6 class="h6Title">1. Introducción</h6>
      <p>¡Bienvenido a PREDYC!</p>
      <p>
        El presente documento establece los Términos y Condiciones de uso (“TyC”) que serán
        aplicables cuando usted visite y/o utilice la Plataforma Digital y/o el Sitio Web
        <a class="blueLink ft500" href="https://www.predyc.com">https://predyc.com/</a>
        (en adelante, de manera conjunta la “Plataforma”), cuyos productos y servicios ofrecidos
        son proporcionados por PREDYC, INC. (en adelante, “PREDYC”), corporación constituida en
        Delaware, Estados Unidos de América, con domicilio comercial en 221 W 9th ST.STE 330 Wilmington, Delaware 19801
        EE. UU.
      </p>
      <p>
        Llamamos "Usuario" y/o los “Usuarios” de la Plataforma a toda persona que utilice la misma,
        así como a toda persona que cree una cuenta de Usuario con contraseña dentro de la Plataforma
        (en adelante, “Cuenta” o “Cuenta de Usuario”). Los TyC así como las Políticas de Privacidad
        y/o informaciones sobre la Plataforma se aplican a todos los Usuarios desde que ingresan a ésta.
        Estos TyC tienen carácter obligatorio y vinculante y aplican a todas las actividades realizadas
        en la Plataforma. Si los Usuarios no aceptan en forma total los presentes TyC y/o las Políticas
        de Privacidad y demás avisos legales de La Plataforma, no deberán utilizarla.
      </p>
      <p>
        El servicio brindado por PREDYC a través de la Plataforma (en adelante el “Servicio”) podrá
        estar conformado de Cursos en línea, ayuda personalizada en los Cursos a través de Instructores,
        eventos y vídeo conferencias, entre otros, que PREDYC comunique en su debido momento.
      </p>
      <p>
        PREDYC podrá retirar o suspender, cautelarmente, la prestación de el Servicio a aquellos
        Usuarios que cometan una violación a lo establecido en estos TyC, reservándose los derechos
        legales correspondientes frente a los eventuales daños y perjuicios que dichos incumplimientos
        le ocasionen. Además, se reserva el derecho, a su discreción, de cambiar, modificar, añadir o
        eliminar partes de estos TyC en cualquier momento y sin previo aviso. Todo cambio realizado a
        éstos entrará en vigencia inmediatamente después de su publicación en la Plataforma, por lo que al acceder de
        forma posterior a la realización de modificaciones y/o actualizaciones, el Usuario expresa su acuerdo de forma
        prospectiva con los mismos. Le invitamos a volver a esta sección de la Plataforma periódicamente para asegurarse
        de familiarizarse con la versión más reciente de estos TyC. El uso continuado del Servicio por parte del Usuario
        después de la publicación de dichos cambios implica la aceptación de los mismos.
      </p>
      <p>
        Por lo anterior, PREDYC se compromete a mantener públicos los términos y condiciones para el uso, suscripción y
        cualquier compra que se efectúe en la Plataforma, haciendo del conocimiento al Usuario que somos una empresa con
        nombre comercial conocido como PREDYC, con marca comercial legalmente registrada.
      </p>
      <p>
        PREDYC no se hace responsable si la información disponible en este Sitio Web no es exacta, completa o actual. El
        material en este sitio es provisto sólo para información general y no debe confiarse en ella o utilizarse como la
        única base para la toma de decisiones sin consultar, primero, información más precisa, completa u
        oportuna.Cualquier dependencia en la materia de este sitio es bajo su propio riesgo.</p>
      <p>
        Por favor, lea cuidadosamente estos TyC y contáctenos si tiene alguna pregunta, solicitud de información o queja.
      </p>
      <h6 class="h6Title">2. Descripción del Sitio</h6>
      <p>
        La Plataforma es una comunidad educativa para personas que deseen formarse en temas de ingeniería y sus áreas
        consecuentes. Dentro de ella los Usuarios podrán navegar, previsualizar y realizar una búsqueda, sin necesidad de
        abrir una cuenta Usuario ni de suministrar información de registro. Sin embargo, para cualquier otro uso del
        Servicio y el acceso al contenido de PREDYC, el Usuario deberá abrir una cuenta (en adelante, “Cuenta” o “Cuenta
        de Usuario”) y facilitar la información necesaria para su registro en La Plataforma.
      </p>
      <h6 class="h6Title">3. Declaración de los Usuarios</h6>
      <p>
        Mediante el uso de La Plataforma, los Usuarios: aceptan los presentes TyC que, junto con nuestras Políticas de
        Privacidad, los cuales regirán la relación de los mismos con PREDYC dentro de la Plataforma; y declaran bajo
        juramento tener 18 años de edad o más. Si algún Usuario es menor de 18 años de edad deberá abstenerse de usar La
        Plataforma. Los padres, tutores o responsables de los menores de 18 años que utilicen La Plataforma son plena y
        exclusivamente responsables por el uso de la misma por parte de éstos, incluyendo, y sin limitar, cualquier cargo
        o costo en que se pueda incurrir como consecuencia de tal uso. Cualquier acceso o uso por parte de cualquier
        persona menor de 13 años está prohibido.
      </p>
      <p>
        Al aceptar los presentes TyC, se le concede al Usuario un derecho limitado, no exclusivo, intransferible y no
        sub-licenciable, para entrar, acceder y utilizar a la Plataforma exclusivamente para uso personal y no comercial.
        Todos los derechos que no se le conceden expresamente al Usuario en estos TyC, están reservados por PREDYC, según
        corresponda. El Usuario no tiene derechos para copiar o reproducir en todo o en parte alguna porción del contenido
        expuesto en la Plataforma. Además, éste entiende y reconoce que, en todas las circunstancias, sus derechos con
        respecto al Servicio estarán limitados por los derechos de autor o las leyes de propiedad intelectual pertinentes
        y los presentes en estos TyC.
      </p>
      <p>
        En caso de no aceptar los TyC, aquí descritos, se le solicita al Usuario que no haga uso, ni acceda, ni manipule
        la información de los Servicios ofrecidos en la Plataforma, ya que estaría haciendo un uso inadecuado de ésta.
      </p>
      <h6 class="h6Title">4. Uso de datos</h6>
      <p>
        Al registrarse en la Plataforma, el Usuario otorga su consentimiento para la recopilación y procesamiento de toda
        la información relacionada con el uso que éste hace de la misma, incluyendo la Información de Registro. La
        Plataforma recopila y maneja esta información de conformidad con los términos de la Política de Privacidad, que
        queda expresamente incorporada en estos TyC mediante referencia. Al aceptar estos TyC, el Usuario también:
        <b style="color : black">i)</b> Acepta la Política de Privacidad, la cual está disponible haciendo click
        <a class="blueLink" routerLink="/politica-privacidad">aquí</a>; <b style="color : black">ii)</b>
        Autoriza y manifiesta su aceptación en la utilización de sus datos (nombre, logo, entre otros) para fines
        promocionales y de mercadotecnia, así como cualquier otro establecido en el presente documento o en la antes
        mencionada Política de Privacidad; y <b style="color : black">iii)</b> Accede a permitir que PREDYC recopile sus
        datos e información profesional, con la finalidad de incluir al Usuario en la Red Profesional de Usuarios de la
        Plataforma.
      </p>
      <p>
        Asimismo, el Usuario garantiza que toda la información (incluida la Información de Registro y las respuestas a los
        sondeos y encuestas) que proporciona a la Plataforma es correcta, completa y vigente, y se compromete a actualizar
        dicha información cuando sea necesario. También admite que cualquier información proporcionada por él a la
        Plataforma no violará ninguna ley o reglamento, ni infringirá los derechos de terceros.
  
      </p>
      <h6 class="h6Title">5. Registro</h6>
      <p>
        Los Usuarios deberán registrarse en la Plataforma para crearse una Cuenta, utilizando para este fin la sección de
        “Registrarse” a través de las opciones que disponga la Plataforma para este objetivo. En dicho momento, el Usuario
        deberá completar un formulario de registro con toda su información personal (tal como nombre completo, un nombre
        de usuario, indicar un correo electrónico, entre otros). El Usuario solo puede abrir una Cuenta en la Plataforma
        para sí mismo, y no para ninguna otra persona, con sujeción a las disposiciones de la sección anterior titulada
        "Declaración de Usuarios". Asimismo, éste acepta que no permitirá que otras personas utilicen su Cuenta de Usuario
        y que el uso de nuestros Servicios no le otorga la propiedad ni ningún derecho de propiedad intelectual sobre
        nuestros Servicios, Productos o el contenido al que accede a través de la Plataforma.</p>
      <p>
        Es responsabilidad del Usuario cuidar cualquier actividad dentro de su Cuenta y los datos de ingreso a la misma,
        por lo que deberá mantenerla bajo absoluta reserva y confidencialidad, quedando prohibida la acción de compartirla
        con terceros. Toda acción realizada a través de la Cuenta de Usuario se presume realizada por éste. PREDYC no se
        hace responsable de los daños y perjuicios que puedan suceder por actos de seguridad ni de los daños relacionados
        con la divulgación del nombre del Usuario o de su contraseña. Si existe algún tipo de violación de seguridad o
        identifica que alguien ha accedido a su cuenta, el Usuario debe de notificarlo instantáneamente a PREDYC, enviando
        un correo electrónico a <a href="mailto:contacto@predyc.com" class="blueLink"
          target="_blank">soporte&#64;predyc.com</a>.
      </p>
      <h6 class="h6Title">6. Lineamientos del uso correcto de la Plataforma</h6>
      <p>
        El Usuario se compromete hacer uso de la Plataforma con fines lícitos y que no transgredan el ordenamiento
        jurídico, el orden público y las buenas costumbres. En ese sentido, presta conformidad a lo establecido por estos
        TyC y todas las leyes, normas y reglamentos locales, estatales, nacionales e internacionales aplicables.</p>
      <p>
        En este mismo orden de ideas, a título meramente enunciativo, pero no limitativo, el Usuario se abstendrá, entre
        otros, de:</p>
      <ul>
        <li> Abusar, acosar, amenazar, suplantar o intimidar a cualquier persona.</li>
        <li> Publicar o transmitir cualquier tipo de contenido difamatorio, obsceno, pornográfico, abusivo, ofensivo,
          profano
          o que infrinja derecho de autor o derechos en general de cualquier persona.</li>
        <li> Intentar acceder o realizar búsquedas en motores de búsquedas o softwares (spiders, robots, crawlers,
          herramientas de minería de datos o similares) distintos de aquellos provistos por PREDYC o aquellos motores de
          búsquedas genéricos provistos por terceros y de acceso público la Internet.</li>
        <li> Generar o enviar correos no deseados a cualquier persona o URL.</li>
        <li> Publicar contenidos de los cuales no posea los derechos de autor.</li>
        <li> Vender o transferir su Cuenta de Usuario.</li>
        <li> Utilizar la Plataforma para fines comerciales o para el beneficio de terceros de manera que infrinja lo
          establecido en el presente documento.</li>
        <li> Intentar descifrar, descompilar o aplicar ingeniería en reversa a cualquier programa de software proveedor
          delSitio Web, entre otros.</li>
      </ul>
      <p>
        PREDYC se reserva el derecho de retirar, terminar o suspender, sin previo aviso y en cualquier momento la Cuenta a
        aquellos Usuarios que infrinjan los presentes Términos y Condiciones, por lo que, por favor, le pedimos que no use
        PREDYC para ningún fin ilícito y/o negativo.
      </p>
      <h6 class="h6Title">7. Planes y Productos que ofrece la Plataforma</h6>
      <p>
        PREDYC pone a disposición de sus Usuarios los siguientes Planes y Productos: <b style="color : black">(i)</b>Independientes; <b style="color : black">(ii)</b>Plan Empresarial 10 personas;
        <b style="color : black">(iii)</b>Plan Empresarial 25 personas y <b style="color : black">(iv)</b>Plan Empresarial ilimitado
      </p>
      <p>
        En el caso de los Planes, a través de los mismos los Usuarios tendrán la opción de acceder a la variedad de Cursos
        que ofrece la Plataforma por un tiempo limitado. Mientras que, en el caso del Curso Individual, como su nombre lo
        indica, los Usuarios tendrán acceso solo al Curso que hayan elegido comprar bajo esta modalidad.</p>
      <p>
        Si deseas mayor información sobre los beneficios, condiciones y restricciones de cada uno de los Planes y
        productos, podrás revisarlo en sus Términos y Condiciones Particulares correspondientes, ingresando a las
        siguientes direcciones URL:</p>
      <p><span class="blueLink" routerLink="/plan-independiente">Independientes</span></p>
      <p><span class="blueLink" routerLink="/plan-empresarial">Plan Empresarial</span></p>
      <p>
        PREDYC se reserva el derecho de retirar, modificar y/o agregar Planes y productos en la Plataforma, según lo
        considere conveniente. Asimismo, en caso, de que PREDYC modifique alguno de los Planes o Productos será comunicado
        en los Términos y Condiciones Particulares del Plan o producto y en la Plataforma, a fin de que el Usuario tome
        conocimiento de las nuevas condiciones.
      </p>
      <h6 class="h6Title">8. Cursos y certificaciones</h6>
      <p>
        Los Cursos que PREDYC pone a disposición del Usuario estarán integrados por un determinado número de clases
        virtuales grabadas, así como también, de todo el material descargable que el Instructor desee compartir al Usuario
      </p>
      <p>
        Por cada Curso culminado de forma satisfactoria, PREDYC otorgará un Certificado de culminación y aprobación al
        Usuario. Para esto, es condición obligatoria que el Usuario:
      </p>
      <ul>
        <li> Culmine el 100% de las clases virtuales que integren el Curso.</li>
        <li> Presente y apruebe el examen final del Curso con una calificación mayor al 70%.</li>
      </ul>
      <p>
        Cabe mencionar que, cada Instructor se reserva el derecho de establecer el criterio para la calificación de dicho
        examen.
      </p>
      <h6 class="h6Title">9. Tarifas</h6>
      <p>
        El material disponible en la Plataforma tiene horarios o fechas limitados. PREDYC ha hecho todo lo posible para
        mostrar con la mayor precisión los colores y las imágenes de los materiales que aparecen en la misma. PREDYC no
        puede garantizar que la visualización del monitor de su dispositivo de cualquier color será exacta. PREDYC se
        reserva el derecho de limitar las cantidades de cualquier material o servicio que ofrece. Además, no garantiza que
        la calidad de los materiales, información u otro material comprado u obtenido por el Usuario cumpla con sus
        expectativas, o que cualquier error en el material será corregido.</p>
      <p>
        Todas las promociones no son acumulables con otras promociones, se aplican hasta agotar existencia y están
        restringidas a una por persona. El uso de cupones es personal, solo un cupón por Usuario, es decir, un cupón por
        orden. Cada cupón puede tener restricciones particulares que serán comunicadas en la Plataforma.</p>
      <p>
        No garantizamos que los materiales, información u otro material comprado u obtenido por el Usuario, cumpla con sus
        expectativas o que cualquier error en la información o material será corregido.</p>
      <p>
        PREDYC se compromete a proporcionar los mejores materiales que cumplan con nuestros estándares, así como cumplir
        con la más alta calidad y los requisitos reglamentarios aplicables relacionados. En el caso de que alguno de
        nuestros materiales no cumpla con los más altos estándares, no nos hacemos responsables de los daños resultantes
        de la falta de uso o defecto de los materiales, y se retirará el material de nuestro mercado de inmediato.
      </p>
      <h6 class="h6Title">10. Tarifas</h6>
      <p>
        Las tarifas de los Planes y Productos se encontrarán reguladas en los Términos y Condiciones Particulares
        correspondientes a cada uno. A menos que se indique lo contrario, todas las Tarifas se cotizan en dólares
        estadounidenses y están sujetas a cambios en cualquier momento, sin previo aviso y sin responsabilidad alguna
        hacia el Usuario. PREDYC no ofrece una protección de precios o rembolsos en caso de una caída de precios o una
        oferta promocional.
      </p>
      <h6 class="h6Title">11. Política de reembolso</h6>
      <p>
        PREDYC puede realizar un reembolso total o parcial del valor de la suscripción del Plan o Producto adquirido,
        siempre y cuando se cumpla con las condiciones de reembolso particular de cada Plan y/o Producto, las cuales están
        especificadas en los Términos y Condiciones Particulares correspondientes.
      </p>
      <h6 class="h6Title">12. Formas de Pago</h6>
      <p>
        Para gestionar los pagos de las tarifas que se realicen a través de la Plataforma, PREDYC se reserva el derecho de
        contratar a terceros que actúen como facilitadores. Asimismo, primero se procederá a realizar una verificación,
        por parte de PREDYC, de que el pago de la Tarifa haya sido debidamente efectuado para proceder con la activación
        del Plan y/o Producto.</p>
      <p>
        Los Planes y Productos expuestos en la Plataforma, salvo que se señale lo contrario en casos particulares, podrán
        ser pagados a través de las siguientes modalidades (“Formas de Pago”):</p>
      <ul>
        <li><b style="color : black; text-decoration : underline">“Pago mediante transferencia bancaria”:</b> en el cual
          el Usuario podrá efectuar el pago de la Tarifa a través de
          transferencias bancarias, a la cuenta indicada en la Plataforma, teniendo en cuenta que esta opción sólo está
          Disponible en México.</li>
        <li><b style="color : black; text-decoration : underline">“Pago online”:</b> en el cual el Usuario podrá efectuar
          el pago de la Tarifa con tarjetas de crédito y/o débito a
          través de la pasarela de pagos de la Plataforma (Stripe o Paypal). Aunque PREDYC realiza todos los cobros en
          Dólares Estadounidenses (U$D), el cargo en las compras realizadas con tarjetas de crédito o débito se verá
          reflejado en la moneda que maneje el Banco que emitió la tarjeta del Usuario, esto de acuerdo a la tasa
          cambiaria
          que aplique dicho banco.</li>
      </ul>
      <p>
        El Usuario autoriza a PREDYC a hacer cargos a cualquier Forma de Pago asociada a su Cuenta de Usuario. En ese
        sentido, si el Usuario, elije la modalidad de Pago online, el pago de la Tarifa del Plan o Producto elegido será
        autorrenovable, mientras que, en el caso la modalidad de Pago mediante transferencia bancaria, si se vence el
        plazo del Plan o Producto, el Usuario deberá reactivarlo realizando el pago nuevamente. Si PREDYC lo considera
        conveniente, tanto las Formas de Pago como las condiciones que la regulan podrán ser modificadas por PREDYC.</p>
      <p>
        Para algunas Formas de pago, PREDYC puede cobrar al Usuario ciertos cargos, como cargos de transacción extranjera
        u otros cargos relacionados con el procesamiento de su Forma de pago. Asimismo, el Usuario se obliga a pagar todos
        los impuestos aplicables por su legislación, en caso de que los hubiere.</p>
      <p>
        El Usuario podrá actualizar su Forma de Pago a través de su Cuenta, siendo que luego de la actualización que se
        realice en su Cuenta, autoriza a PREDYC a hacer cargos a la Forma de Pago correspondiente.</p>
      <p>
        Si el pago no pudiera llevarse a cabo de forma satisfactoria, debido a la falta de fondos, la fecha de
        vencimientos u otros motivos, y si el Usuario no cancela su cuenta, PREDYC podrá suspender el acceso a los Cursos
        y/u otros Productos hasta que obtenga una Forma de pago válida.</p>
      <p>
        Para pagos realizados en Planes, entre otros productos o servicios, la última tarjeta que utilice el Usuario se
        quedará guardada como método de pago predeterminado.</p>
      <p>
        Cuando se ofrezcan cuotas con o sin interés, las misma aplicarán sólo para los pagos con tarjetas de crédito y no
        con tarjetas de débito.
      </p>
      <h6 class="h6Title">13. Renovación y/o cancelación de planes</h6>
      <p>
        Todos los Planes ofrecidos por PREDYC en la Plataforma, son autorrenovables, por lo que si el Usuario no desea
        renovar deberá configurar su <span class="blueLink" routerLink="/perfil">Cuenta de Usuario</span> (únicamente
        a través de la web y antes del vencimiento del Plan), donde habrá una opción para cancelar la autorrenovación del
        Servicio.</p>
      <p>
        Por otro lado, el Usuario podrá cancelar su Plan cuando lo considere conveniente. Si se cancela, perderá acceso a
        todos los Cursos a los cuales se haya inscrito (a menos que estos sean de acceso gratuito o comprados de manera
        individual previamente). Si decide pagar nuevamente recuperará el acceso a los Cursos inscritos.
      </p>
      <h6 class="h6Title">14. Sobre la relación con los Instructores</h6>
      <p>
        El Instructor es un tercero que a través de clases expone un Curso y/o Cursos a través de la Plataforma. PREDYC no
        mantiene una relación laboral ni de dependencia y/o subordinación con alguno de los Instructores. En la
        Plataforma, los Instructores tendrán libertad de cátedra, por lo que, se le otorga la confianza a los mismos para
        exponer sus conocimientos e información sin estar sujetos a una doctrina impuesta por PREDYC.</p>
      <p>
        El Usuario reconoce que, PREDYC únicamente será responsable de validar que, el Instructor comparta el contenido
        adecuado y apropiado en los Cursos que enseñará a través de la Plataforma.</p>
      <p>
        En este orden de ideas, PREDYC no ofrece garantía alguna ni gestiona o interviene en la relación Instructor -
        Usuario, por lo que, en caso de que el Usuario tenga algún inconveniente con el contenido del Curso impartido por
        el Instructor o cualquier queja respecto del mismo, deberá comunicarlo a PREDYC, a través del siguiente correo
        electrónico <a href="mailto:contacto@predyc.com" class="blueLink" target="_blank">soporte&#64;predyc.com</a>,
        a fin de que PREDYC pueda tomar las medidas pertinentes.</p>
      <p>
        En el caso de que, PREDYC detecte que el contenido compartido por el Instructor no cumpla con los estándares
        apropiados, PREDYC se encontrará facultado para restringir dicho contenido. No obstante, PREDYC no será
        responsable de la veracidad o exactitud de la información proporcionada por el Instructor a través del Curso.
      </p>
      <h6 class="h6Title">15. Sobre el contenido publicado por terceros</h6>
      <p>
        PREDYC no controla ni se hace responsable por el acceso por parte de los Usuarios a contenidos, materiales,
        productos o servicios a través de enlaces de terceros colocados en el sitio web. El acceso a cualquier contenido
        incluyendo los enlaces mostrados en la Plataforma son opcionales, y correrán bajo su propio riesgo y cuenta,
        liberando a PREDYC de cualquier responsabilidad por dicha conducta.</p>
      <p>
        Por lo anterior y toda vez que, PREDYC no tiene control sobre los contenidos de sus proveedores y/o terceros,
        incluidos los sitios o aplicaciones a los que lleven los enlaces, PREDYC no será responsable por los contenidos,
        materiales, acciones y/o servicios prestados por sus proveedores y/o terceros, ni por daños o pérdidas ocasionadas
        por la utilización de los mismos, sean causadas directa o indirectamente.
      </p>
      <h6 class="h6Title">16. Derechos de PREDYC sobre el contenido que publica el USUARIO</h6>
      <p>
        El contenido que publica como Usuario sigue siendo de su propiedad. Al publicar comentarios y otro cualquier otro
        contenido en la Plataforma o Redes Sociales, autoriza a PREDYC a reutilizarlos y compartirlos, pero no pierde los
        derechos de propiedad que pueda tener sobre su contenido.</p>
      <p>
        Cuando el Usuario publica contenido, comentarios, preguntas o reseñas y cuando envía a PREDYC sus ideas y
        sugerencias para nuevas funciones o mejoras, autoriza a este último a utilizar y compartir este contenido con
        cualquiera, distribuirlo y promocionarlo en cualquier plataforma o medio, así como realizar modificaciones o
        ediciones según PREDYC lo considere.</p>
      <p>
        En términos legales, al enviar, publicar contenido en la plataforma o utilizar esta, el Usuario proporciona a
        PREDYC una licencia libre de regalías, no exclusiva, de uso internacional (con derecho de sublicencia) para
        utilizar, copiar, reproducir, procesar, adaptar, modificar, publicar, transmitir, mostrar y distribuir su
        contenido (incluido su nombre, su imagen y logo) en cualquier medio o método de distribución (existente en la
        actualidad o desarrollado en el futuro). Esto incluye poner su contenido a disposición de otras compañías,
        organizaciones o individuos que se asocien con PREDYC para la redifusión, emisión por radiodifusión, distribución
        y publicación de contenido en otros medios, así como utilizar su contenido con fines de marketing. También
        renuncia a cualquier derecho de privacidad, publicidad u otros derechos de naturaleza similar aplicables a todos
        estos usos, en la medida en que la legislación vigente lo permita. Se le considerará al Usuario el representante y
        éste garantiza que tiene los derechos, el poder y la autoridad necesarios para autorizar a PREDYC a utilizar
        cualquier contenido que envíe. También, el Usuario, renuncia al pago de compensación alguna por todos esos usos de
        su contenido.
      </p>
      <h6 class="h6Title">17. Promociones y ofertas</h6>
      <p>
        En cualquier momento, PREDYC podrá lanzar ofertas promocionales, Cursos gratuitos, entre otros, por lo que, éstos
        se regirán bajo las condiciones y restricciones adicionales que se establezcan al momento de su lanzamiento, los
        cuales serán publicados en la página web de PREDYC.</p>
      <p>
        De la misma manera y con la finalidad de que los planes de PREDYC se adapten a las necesidades de sus Usuarios,
        éste podrá lanzar nuevos Planes al mercado, las cuales se regirán por los Términos y Condiciones Particulares que
        se establezcan en dicho momento.
      </p>
      <h6 class="h6Title">18. Propiedad intelectual y derechos de Autor</h6>
      <p>
        El software asociado a la Plataforma, así como todos los contenidos disponibles en la misma (en colectivo, el
        “Contenido”), son propiedad exclusiva de PREDYC, y/o de ser el caso, de los Instructores, de sus proveedores o de
        sus servidores externos; por tanto, están protegidos por las leyes y tratados internacionales aplicables de
        derechos de autor, así como por otras leyes y tratados de propiedad intelectual.</p>
      <p>
        Gran parte el Contenido de la Plataforma, es propiedad de los Instructores o/y otros proveedores, en caso de que
        este Contenido vulnere los derechos de propiedad intelectual, de privacidad, entre otros, los derechos de autor
        (copyright), los derechos sobre la base de datos, las marcas registradas o el “know how” de terceros, PREDYC no se
        hará responsable de ello. En caso de que el Usuario detecte que el Contenido de los Cursos viola algunos de los
        derechos antes mencionados, deberá comunicarlo a PREDYC, a través del siguiente correo electrónico
        <a href="mailto:contacto@predyc.com" class="blueLink" target="_blank">soporte&#64;predyc.com</a>, a fin de que PREDYC
        pueda tomar las medidas pertinentes.
      </p>
      <p>
        Se encuentra terminantemente prohibido cualquier tipo de copia, distribución, transmisión, retransmisión,
        publicación, impresión, difusión y/o explotación comercial del material y/o contenido puesto a disposición del
        público a través de la Plataforma, sin el previo consentimiento expreso y por escrito de PREDYC o, en su caso, del
        titular de los derechos de propiedad intelectual o de Autor correspondientes. El incumplimiento de lo aquí
        mencionado sujetará al infractor a todos los reclamos civiles y será materia para la presentación de la querella,
        la denuncia o la reclamación procedente ante las autoridades competentes, dentro de la cual se proporcionará la
        información necesaria para la investigación y persecución del ilícito del que se trate.</p>
      <p>
        Todos los derechos de autor involucrados en la Plataforma, como por ejemplo su Contenido y su diseño visual, son
        de titularidad de PREDYC y/o de sus proveedores y/o Instructores, por lo que se encuentra estrictamente prohibido
        su empleo, modificación, reproducción, distribución, transmisión o comercialización de los derechos involucrados
        sin el permiso previo, expreso y por escrito de los titulares de dichos derechos, salvo los casos de derechos de
        cita, empleo para finalidades educativas y los demás usos honrados reconocidos.</p>
      <p>
        Si PREDYC recibe una notificación alegando que el Usuario se ha involucrado en una conducta que viola cualquiera
        de los derechos de propiedad intelectual de PREDYC o de sus Afiliadas, o de un tercero, o razonablemente sospecha
        esto, PREDYC podrá suspender o dar por terminado el acceso del Usuario a la Plataforma, sin previo aviso. Si
        PREDYC actúa conforme a esta Sección, el mismo no tendrá responsabilidad alguna frente al Usuario, incluso por
        cualquier cantidad que haya pagado previamente en la Plataforma.
      </p>
      <h6 class="h6Title">19. Privacidad</h6>
      <p>
        De conformidad con la Ley de Protección de Datos Personales aplicable, PREDYC implementará todas las medidas
        posibles para mantener la confidencialidad y la seguridad de la información y datos de los Usuarios, pero no se
        hará responsable por los daños, pérdidas o perjuicios que pudieran derivarse de la violación de esas medidas por
        parte de terceros que utilicen las redes públicas o internet, alterando los sistemas de seguridad para obtener
        acceso a la información de los Usuarios.</p>
      <p>Sin perjuicio de lo anterior, el uso de la Plataforma se encuentra condicionado a la lectura y aceptación libre
        por parte del Usuario de la <span class="blueLink" routerLink="/politica-privacidad">Política de Privacidad
        </span>, la cual se encuentra a su disposición en la Plataforma, por lo que, en caso de registrarse como Usuario
        en PREDYC, el Usuario manifiesta su conformidad con las Políticas dePrivacidad.</p>
      <p>
        PREDYC realiza alianzas con otras instituciones, motivo por el cual en virtud de dichas alianzas y con las
        autorizaciones pertinentes, se reserva el derecho de volver a contactar a las personas que hayan participado como
        usuarios finales (beneficiarios) en alguna de estas alianzas.
        En caso de que te hayamos contactado de esta manera y no desees recibir nuestra información, puedes solicitarnos
        que te retiremos de nuestra base de datos a través de <a href="mailto:contacto@predyc.com" class="blueLink"
          target="_blank">soporte&#64;predyc.com</a>.
      </p>
      <h6 class="h6Title">20. Cookies</h6>
      <p>El Usuario conviene en recibir las Cookies que les transmitan los servidores de PREDYC. Las Cookies pueden
        contener información tal como la identificación proporcionada por el Usuario o información para rastrear las
        páginas que el Usuario ha visitado.</p>
      <h6 class="h6Title">21. Exclusión de garantías</h6>
      <ul>
        <li>De la información y contenidos.</li>
        <p>PREDYC pone a disposición del Usuario un espacio virtual en el que podrá acceder a los Cursos dictados por los
          Instructores, por lo que, PREDYC no ofrece garantía alguna, ni gestiona o interviene en la relación, a los
          Servicios o información que puedan surgir entre los Usuarios.</p>
        <li>Riesgo de uso de la Plataforma.</li>
        <p>PREDYC no asumirá responsabilidad alguna y no será responsable por ningún daño o virus que provoque algún daño
          a
          la computadora del Usuario u otra propiedad como consecuencia del acceso, uso, descarga o navegación en la
          Plataforma.</p>
        <li>De los Servicios.</li>
        <p>PREDYC, sus empleados o directivos no son responsables de los daños o perjuicios indirectos, accidentales o por
          eventos de caso fortuito, incluyendo daños por lucro cesante, pérdida de uso y pérdida de datos derivados de o
          en
          relación con los Cursos, los Proyectos y/o los presentes términos.</p>
      </ul>
      <h6 class="h6Title">22. Disponibilidad y Suspensión del Servicio</h6>
      <p>
        En el supuesto de que algunos de los Planes que ofrece PREDYC, deje de estar disponible para el público en
        general, se respetarán las condiciones que los Usuarios que ya adquirieron en dicho Plan.
      </p>
      <p>En caso de incumplimiento de cualquiera de las disposiciones contenidas en los presentes TyC, PREDYC podrá
        suspender la Cuenta, suspender el Servicio y/o retirarle o denegarle el acceso a la Plataforma o al Sitio Web, en
        cualquier momento y sin necesidad de notificación previa de ningún tipo, así como, de ser el caso, presentar las
        denuncias ante las autoridades competentes. Se considerará infracción a los presentes TyC, la comisión o
        participación en actos que constituyan conductas abusivas, inapropiadas o ilícitas, actividades fraudulentas o
        ilegales y en general el comercio de cualquier objeto ilícito o producto de un delito.</p>
      <h6 class="h6Title">23. Fallas temporales en el servicio, actualizaciones.</h6>
      <p>
        PREDYC no garantiza la inexistencia de eventuales dificultades técnicas o fallas en los sistemas o en internet.
      </p>
      <p>PREDYC no garantiza el acceso y uso continuado del Sitio Web. El sistema puede no estar disponible debido a
        dificultades técnicas o fallas de Internet o por cualquier otra circunstancia ajena a PREDYC o actualizaciones de
        la Plataforma, en dicho último caso se notificará al usuario mediante la misma web <a class="blueLink ft500"
          href="https://www.predyc.com">https://predyc.com</a>.</p>
      <p>En caso de que al usuario no se le permita la accesibilidad a la compra de productos y/o Servicios o suscripción
        de los mismos, y se le presenten irregularidades en su compra o cargos irregulares, deberá reportar tal situación
        a los medios de contacto de PREDYC.</p>
      <p>En tales casos PREDYC procurará restablecerlo con la mayor celeridad posible.</p>
  
      <h6 class="h6Title">24. Recursos Legales</h6>
      <p>
        El Usuario acuerda que cualquier uso no autorizado de la Plataforma y de cualquier tecnología contenida en la
        misma podría ocasionar un perjuicio irreparable a PREDYC para lo cual una compensación por daños y perjuicios
        monetarios no sería insuficiente. Por lo tanto, en tal caso, PREDYC tendrá derecho, además de otros recursos
        disponibles de acuerdo al derecho y en equidad, a un desagravio por mandato judicial inmediato en contra del
        Usuario y para evitar cualquier uso no autorizado. Nada de lo contenido en esta Sección o en otra parte de estos
        TyC se interpretará como que limita los recursos disponibles de conformidad con las reclamaciones legales o de
        otro tipo que PREDYC pueda tener bajo una autoridad jurídica independiente. El Usuario entiende y conviene que la
        cancelación de su Cuenta es su único derecho y recurso con respecto a cualquier controversia con PREDYC.
      </p>
      <h6 class="h6Title">25. Indemnización</h6>
      <p>
        El Usuario conviene en defender, indemnizar y eximir de toda responsabilidad a PREDYC respecto a todas y
        cualesquiera reclamaciones, pérdidas, daños y perjuicios, responsabilidades, deficiencias, sentencias, gravámenes,
        multas, costas y otros gastos (incluidos los honorarios razonables de abogados) que surjan de o, en relación con,
        el uso por parte del Usuario de la Plataforma, o cualquier incumplimiento por parte del Usuario de estos TyC, y
        conviene en rembolsar a PREDYC, a solicitud, cualquier pérdida, costo o gasto en los que incurran a causa de ello.
      </p>
      <h6 class="h6Title">26. Jurisdicción y legislación aplicable</h6>
      <p>
        PREDYC a través de su propietario(a) se reserva la facultad de presentar las acciones civiles, mercantiles o
        penales que considere necesarias por la utilización indebida de la Plataforma, sus contenidos, materiales o por el
        incumplimiento de los presentes TyC.</p>
      <p>La relación entre el Usuario y PREDYC se regirá por la legislación vigente en México, y en caso de presentarse
        una
        controversia en relación a la interpretación y/o a la aplicación de los presentes TyC, las partes se someterán a
        la jurisdicción de los Tribunales Judiciales de la Federación con residencia en la Ciudad de Querétaro o a la
        conciliación de la Procuraduría Federal del Consumidor.</p>
      <p>Para sugerencias y/o comentarios sobre los TyC de nuestra Plataforma pueden enviarnos una comunicación al
        siguiente correo electrónico <a href="mailto:contacto@predyc.com" class="blueLink"
          target="_blank">soporte&#64;predyc.com</a>.</p>
      <h6 class="h6Title">27. Cursos desactivados</h6>
      <p>
        PREDYC está constantemente actualizando sus contenidos, por lo que periódicamente algunos cursos dejan de estar
        disponibles en la Plataforma. Sin embargo, para aquellos Usuarios que ya hayan Descargando el contenido de estos
        cursos, podrán seguir visualizándolos en su Cuenta. El único servicio que no estará disponible será el de
        Consultas al Instructor y acompañamiento, pero brindaremos Certificados de participación a todos los Usuarios que
        completen el curso y aprueben el examen final.
      </p>
      <h6 class="h6Title">28. Impuesto propio de cada país por compras</h6>
      <p>
        Las compras en la Plataforma pueden incluir el impuesto sobre ventas o el impuesto al valor agregado (cuando
        proceda) y dicho impuesto se basará en la mejor información disponible acerca de la dirección del Usuario. En
        tales casos, se aplicará el tipo impositivo que esté en vigor en el momento en que se realicen las compras en la
        Plataforma. Si cambia el tipo impositivo aplicable a las ventas antes de finalizar las compras correspondientes,
        se aplicará el nuevo tipo impositivo que esté en vigor en el momento de concretar la compra en la Plataforma.
        Podrían aplicarse otras limitaciones y renuncias a responsabilidad sobre productos y servicios. El Usuario será el
        único responsable de pagar la totalidad de dichos impuestos.
      </p>
      <h6 class="h6Title">29. Tratamiento de Datos personales</h6>
      <p>
        El tratamiento de datos personales se realiza de acuerdo a la normativa vigente y el Usuario autoriza a PREDYC
        para utilizar sus datos directamente en la activación del Plan o Producto.
      </p>
      <h6 class="h6Title">30. Notas Legales.</h6>
      <p>EL USUARIO ENTIENDE Y CONVIENE EN QUE EL USO DE LA PLATAFORMA ES A SU EXCLUSIVO RIESGO. SALVO LO EXPRESAMENTE
        ESTABLECIDO EN EL PRESENTE, EL SERVICIO SE PROPORCIONA "EN EL ESTADO EN QUE SE ENCUENTRA" Y SIN GARANTÍA DE NINGÚN
        TIPO POR PARTE DE PREDYC NI DE SUS AFILIADAS, SEGÚN CORRESPONDA, Y EN LA MÁXIMA MEDIDA PERMITIDA POR LA LEY
        APLICABLE, PREDYC EXPRESAMENTE RENUNCIA A TODAS LAS GARANTÍAS, YA SEA EXPRESAS O IMPLÍCITAS, INCLUIDAS, ENTRE
        OTRAS, LAS GARANTÍAS IMPLÍCITAS DE COMERCIALIZACIÓN, IDONEIDAD PARA UN FIN DETERMINADO, NO INFRACCIÓN Y TÍTULO.
        SALVO LO EXPRESAMENTE ESTABLECIDO EN EL PRESENTE, PREDYC NO GARANTIZA NI HACE NINGUNA DECLARACIÓN SOBRE EL USO O
        LOS RESULTADOS DEL USO DEL SERVICIO CON RESPECTO AL RENDIMIENTO, PRECISIÓN, FIABILIDAD, SEGURIDAD, CAPACIDAD,
        ACTUALIDAD U OTROS ASPECTOS. EL USUARIO NO RESPONSABILIZARÁ A PREDYC NI A SUS AFILIADAS DE NINGÚN DAÑO DERIVADO DE
        SU ACCESO (INCLUYENDO CUALQUIER SOFTWARE O SISTEMAS QUE UTILICE PARA ACCEDER) AL SERVICIO, INCLUYENDO, SIN
        LIMITACIÓN, DAÑOS A CUALQUIER COMPUTADORA, SOFTWARE O SISTEMAS, O DISPOSITIVOS PORTÁTILES REGISTRADOS QUE EL
        USUARIO UTILICE PARA ACCEDER AL MISMO. NO SE GARANTIZA QUE EL FUNCIONAMIENTO DEL SERVICIO SEA ININTERRUMPIDO NI
        QUE ESTÉ EXENTO DE ERRORES. NINGUNA INFORMACIÓN O ASESORAMIENTO ORAL O ESCRITO PROPORCIONADO POR CUALQUIER
        PERSONA, CONSTITUIRÁ NINGÚN TIPO DE GARANTÍA EN RELACIÓN CON LA COMPAÑÍA O SUS AFILIADAS.</p>
      <p>PREDYC NO GARANTIZA QUE EL SERVICIO SEA COMPATIBLE CON CUALQUIER COMPUTADORA PERSONAL, REPRODUCTOR DE CD O DVD,
        GRABADOR DE CD O DVD, O DISPOSITIVOS PORTÁTILES REGISTRADOS. EL USARIO ES EL ÚNICO RESPONSABLE DE ASEGURARSE DE
        QUE SUS SISTEMAS FUNCIONEN CORRECTAMENTE CON EL SERVICIO</p>
      <p>LA PLATAFORMA PUEDE CONTENER PUNTOS DE VISTA, CONSEJOS, DECLARACIONES Y OPINIONES, QUE REPRESENTAN LAS OPINIONES,
        CONSEJOS Y DECLARACIONES DE LOS AUTORES INDIVIDUALES Y NO NECESARIAMENTE LOS DE CUALQUIER COMPAÑÍA AFILIADA.
        PREDYC NO DECLARA NI AVALA LA EXACTITUD O LA CONFIABILIDAD DE CUALQUIER PUNTO DE VISTA, CONSEJO, OPINIÓN,
        DECLARACIÓN U OTRA INFORMACIÓN PROPORCIONADA POR DICHOS AUTORES. DICHOS PUNTOS DE VISTA, OPINIONES, CONSEJOS,
        DECLARACIONES U OTRA INFORMACIÓN SON ÚNICAMENTE LOS DE LOS AUTORES Y NO PUEDEN SER ATRIBUIDOS A PREDYC. LA
        CONFIANZA QUE EL USARIO DEPOSITE EN TALES PUNTOS DE VISTA, OPINIONES, CONSEJOS, DECLARACIONES U OTRA INFORMACIÓN
        QUEDA TAMBIÉN BAJO SU PROPIO RIESGO. PREDYC NO SERÁ RESPONSABLE ANTE NADIE DE NINGUNA INEXACTITUD, ERROR, OMISIÓN,
        INTERRUPCIÓN, OPORTUNIDAD, INFRACCIÓN DE CUALQUIER DERECHO DE PROPIEDAD INTELECTUAL, INTEGRIDAD, ELIMINACIÓN,
        DEFECTO, FALLA DE FUNCIONAMIENTO, FALLA EN LAS LÍNEAS DE COMUNICACIÓN, ALTERACIÓN O USO DE LAS OBRAS DEL AUTOR,
        INDEPENDIENTEMENTE DE LA CAUSA, O POR CUALQUIER DAÑO QUE DE ALLÍ RESULTE. PREDYC NO ASUME RESPONSABILIDAD ALGUNA,
        Y NO SERÁ RESPONSABLE DE NINGÚN DAÑO O VIRUS QUE DAÑE LA COMPUTADORA DEL USUARIO U OTRA PROPIEDAD, DEBIDO AL
        ACCESO POR PARTE DEL MISMO O AL USO DE LOS MATERIALES DEL AUTOR.</p>
      <p>EN NINGÚN CASO, PREDYC SERÁ RESPONSABLE POR DAÑOS Y PERJUICIOS DIRECTOS, EMERGENTES, EJEMPLARES, CUANTIFICABLES,
        INDIRECTOS, ACCESORIOS O PUNITIVOS, LUCRO CESANTE, SIN IMPORTAR SU CAUSA, QUE SURJAN DE O EN RELACIÓN CON EL
        SERVICIO, ESTOS TÉRMINOS DE SERVICIO O EL OBJETO DE CUALQUIERA DE LO QUE ANTECEDE, BAJO NINGUNA TEORÍA DE
        RESPONSABILIDAD, INCLUYENDO, ENTRE OTROS: (1) DAÑOS Y PERJUICIOS DERIVADOS DE LA PÉRDIDA DE DATOS, LUCRO CESANTE,
        PÉRDIDA DEL USO DEL SERVICIO Y CUALQUIER DESCARGA O CUALQUIER EQUIPO RELACIONADO, TIEMPO DE INACTIVIDAD Y TIEMPO
        DEL USUARIO, AUNQUE PREDYC HAYA SIDO NOTIFICADO SOBRE LA POSIBILIDAD DE TALES DAÑOS Y PERJUICIOS (2) DAÑOS Y
        PERJUICIOS DERIVADOS DEL USO QUE EL USUARIO HAGA DEL SERVICIO Y QUE INFRINJA ESTOS TÉRMINOS Y CONDICIONES, EN
        PARTICULAR LAS LIMITACIONES CON RESPECTO AL USO. BAJO NINGUNA CIRCUNSTANCIA PREDYC SERÁ RESPONSABLE POR EL USO NO
        AUTORIZADO DE CUALQUIER CONTENIDO O CUALQUIER USO DEL SERVICIO PARA DESARROLLAR, DISTRIBUIR O UTILIZAR CUALQUIER
        MATERIAL QUE SEA DIFAMATORIO, CALUMNIOSO, INJURIOSO U OBSCENO, QUE DÉ UNA FALSA IMPRESIÓN DE CUALQUIER PERSONA,
        QUE CONSTITUYA UNA INVASIÓN DE CUALQUIER DERECHO A LA PRIVACIDAD O UNA INFRACCIÓN DE CUALQUIER DERECHO A LA
        PUBLICIDAD, QUE VIOLE O INFRINJA LOS DERECHOS DE CUALQUIER TERCERO O QUE INFRINJA CUALQUIER LEY O REGULACIÓN
        EXTRANJERA, FEDERAL, ESTATAL O LOCAL.</p>
      <p>ALGUNAS JURISDICCIONES NO PERMITEN LA EXCLUSIÓN O LIMITACIÓN DE GARANTÍAS IMPLÍCITAS O DE RESPONSABILIDAD POR
        DAÑOS Y PERJUICIOS ACCESORIOS O EMERGENTES, DE MODO QUE ES POSIBLE QUE DICHAS EXCLUSIONES O LIMITACIONES NO SEAN
        APLICABLES AL CASO DEL USUARIO. EN LA MEDIDA EN QUE, EN UNA CIRCUNSTANCIA DETERMINADA, CUALQUIER NOTA LEGAL O
        LIMITACIÓN SOBRE DAÑOS Y PERJUICIOS O RESPONSABILIDAD AQUÍ ESTABLECIDA ESTÉ PROHIBIDA POR LA LEY APLICABLE,
        ENTONCES, EN LUGAR DE LAS DISPOSICIONES DEL PRESENTE EN DICHA CIRCUNSTANCIA DETERMINADA, PREDYC TENDRÁ DERECHO A
        LAS MÁXIMAS RENUNCIAS Y/O LIMITACIONES SOBRE DAÑOS Y PERJUICIOS Y LA RESPONSABILIDAD DISPONIBLES EN DERECHO Y EN
        EQUIDAD POR DICHA LEY APLICABLE EN TAL CIRCUNSTANCIA EN PARTICULAR. EN NINGÚN CASO TALES DAÑOS Y PERJUICIOS O LA
        RESPONSABILIDAD TOTAL DE PREDYC SUPERARÁ LOS CARGOS PAGADOS POR EL USUARIO EN LOS ÚLTIMOS 12 MESES.</p>
    </div>
</section>
