<section class="vh100 pdt60">
  <div class="cw" fxLayout="column">
    <div fxLayoutAlign="center">
      <mat-icon class="ftxxxl gray-4 linkIcon centertext">
        verified_user</mat-icon>
    </div>

    <div class="h6Title centertext">POLÍTICA DE PRIVACIDAD.</div>
    <br />
    <p>
      Nuestra empresa PREDYC, INC. (en adelante, “PREDYC”), es una Corporación
      constituida en Delaware, Estados Unidos de América, con domicilio
      comercial en 221 W 9th ST.STE 330 Wilmington, Delaware 19801
      EE. UU. Esta Política de Privacidad explicará cómo nuestra organización
      utiliza los datos personales que recopilamos de usted cuando usa la
      Plataforma Digital y/o el Sitio Web
      <a class="blueLink ft500" href="https://www.predyc.com">
        https://predyc.com/
      </a>
      (en adelante, de manera conjunta la “Plataforma”).
    </p>
    <div class="h6Title">Temas:</div>
    <ul>
      <li>¿Qué datos recopilamos?</li>
      <li>¿Cómo recopilamos sus datos?</li>
      <li>¿Cómo utilizaremos sus datos?</li>
      <li>¿Cómo almacenamos sus datos?</li>
      <li>Marketing</li>
      <li>¿Cuáles son sus derechos de protección de datos?</li>
      <li>¿Qué son las cookies?</li>
      <li>¿Cómo usamos las cookies?</li>
      <li>¿Qué tipos de cookies utilizamos?</li>
      <li>¿Cómo gestionar tus cookies?</li>
      <li>Políticas de privacidad de otros sitios web</li>
      <li>Cambios en nuestra política de privacidad</li>
      <li>¿Cómo contactarnos?</li>
    </ul>
    <div class="h6Title">¿Qué datos recopilamos?</div>
    <p>PREDYC recopila los siguientes datos:</p>

    <ul>
      <li>
        Información de identificación personal (Nombre, Apellido, dirección de
        correo electrónico, entre otros).
      </li>
      <li>
        Información del Usuario relacionada al: contenido compartido dentro de
        la Plataforma, datos de los cursos (comportamiento y uso del producto,
        comentarios), datos de pago, datos sobre las compras realizadas en la
        Plataforma.
      </li>
      <li>
        Información profesional y académica del Usuario la cual es proporcionada
        por éste de forma voluntaria, como Cargo, empresa para la que trabaja,
        número de teléfono, profesión, nivel de educación.
      </li>
      <li>
        Foto de Perfil de la Red social (Google o Facebook), desde la cual el
        Usuario decidió hacer el Registro en la Plataforma
      </li>
    </ul>

    <div class="h6Title">¿Cómo recopilamos sus datos?</div>
    <p>
      Usted proporciona directamente a PREDYC la mayoría de los datos que
      recopilamos. Recopilamos datos y procesamos datos cuando usted:
    </p>

    <ul>
      <li>
        Se registra en la Plataforma a través de su cuenta Google o Facebook.
      </li>
      <li>Solicite cualquiera de nuestros productos y/o servicios.</li>
      <li>
        Completa voluntariamente un formulario para Usuarios o proporcione
        comentarios en cualquiera de nuestros tableros de mensajes o por correo
        electrónico.
      </li>
      <li>
        Use o vea nuestro Plataforma a través de las cookies de su navegador.
      </li>
    </ul>

    <p>
      Nuestra Compañía también puede recibir sus datos indirectamente de las
      siguientes fuentes:
    </p>
    <ul>
      <li>Inscripción voluntaria a eventos organizados por PREDYC.</li>
    </ul>

    <div class="h6Title">¿Cómo utilizaremos sus datos?</div>
    <p>PREDYC recopila sus datos para que podamos:</p>
    <ul>
      <li>Presentar la Plataforma y sus contenidos.</li>
      <li>Procesar su pedido de productos y/o servicios.</li>
      <li>Gestionar su Cuenta de Usuario.</li>
      <li>
        Notificarle sobre modificaciones o actualizaciones de la Plataforma.
      </li>
      <li>
        Enviarle correos electrónicos con ofertas especiales sobre productos y
        servicios que creemos pueden ser de su preferencia.
      </li>
      <li>Brindarle asistencia.</li>
      <li>Validar la veracidad de la información proporcionada.</li>
      <li>Actualizar y consultar datos de contacto.</li>
      <li>Atender sus consultas y solicitudes.</li>
      <li>
        Realizar estudios estadísticos necesarios para potenciar los servicios
        de PREDYC y lograr mejorar la experiencia del Usuario; así como
        tendencias y tráfico.
      </li>
      <li>
        Realizar un seguimiento sus compras en la Plataforma y de los datos de
        uso.
      </li>
      <li>Prever del fraude y el uso indebido de la Plataforma.</li>
      <li>
        Compartimos su información con las empresas que nos brindan servicios de
        mercadeo y gestión de correos.
      </li>
    </ul>

    <p>
      Si está de acuerdo, PREDYC compartirá sus datos con nuestras empresas
      aliadas para que puedan ofrecerle sus productos y servicios.
    </p>
    <ul>
      <li>Hubspot.</li>
      <li>Sendgrid.</li>
      <li>Mailchimp.</li>
      <li>Stripe.</li>
      <li>Tractian.</li>
      <li>Entre otros.</li>
    </ul>
    <p>
      Cuando PREDYC procesa su pedido, puede enviar sus datos y también utilizar
      la información resultante de agencias de referencia de crédito para evitar
      compras fraudulentas.
    </p>

    <div class="h6Title">¿Cómo almacenamos sus datos?</div>
    <p>
      PREDYC terceriza los servicios de almacenamiento de datos con la empresa
      Google, Inc., la cual está certificada con las normativas ISO 27001, SOC
      1, SOC 2, SOC 3, ISO 27017 e ISO 27018 con relación a la seguridad,
      privacidad, confidencialidad e integridad de procesamiento de datos así
      como con la disponibilidad del servicio. PREDYC conservará los datos
      recopilados y expuestos en el inciso primero (“¿Qué datos recopilamos?”)
      durante el período de operación de la empresa.
    </p>

    <div class="h6Title">Marketing</div>
    <p>
      PREDYC desea enviarle información sobre nuestros productos y servicios que
      creemos que le pueden gustar, así como los de nuestras empresas Aliadas.
      Tiene derecho en cualquier momento a impedir que PREDYC se comunique con
      usted con fines de marketing o proporcione sus datos a terceros. Si ya no
      desea que lo contactemos con fines de marketing, haga clic aquí.
    </p>

    <div class="h6Title">¿Cuáles son sus derechos de protección de datos?</div>

    <p>
      PREDYC desea asegurarse de que conoce todos sus derechos de protección de
      datos. Todo usuario tiene derecho a lo siguiente:
    </p>

    <li>
      <u>El derecho de acceso</u>: tiene derecho a solicitar a PREYC copias de
      sus datos personales. Es posible que le cobremos una pequeña tarifa por
      este servicio.
    </li>
    <li>
      <u>El derecho a la rectificación</u>: tiene derecho a solicitar que PREDYC
      corrija cualquier información que crea que es inexacta. También tiene
      derecho a solicitar a PREDYC que complete la información que cree que está
      incompleta.
    </li>
    <li>
      <u>El derecho a borrar</u>: tiene derecho a solicitar que nuestra empresa
      borre sus datos personales, bajo ciertas condiciones.
    </li>
    <li>
      <u>El derecho a restringir el procesamiento</u>: tiene derecho a solicitar
      que PREDYC restrinja el procesamiento de sus datos personales, bajo
      ciertas condiciones.
    </li>
    <li>
      <u>El derecho a oponerse al procesamiento</u>: tiene derecho a oponerse al
      procesamiento de sus datos personales por parte de PREDYC, bajo ciertas
      condiciones.
    </li>
    <li>
      <u>El derecho a la portabilidad de datos</u>: tiene derecho a solicitar
      que PREDYC transfiera los datos que hemos recopilado a otra organización,
      o directamente a usted, bajo ciertas condiciones.
    </li>
    <p>
      Si realiza una solicitud, tenemos un mes para responderle. Si desea
      ejercer alguno de estos derechos, póngase en contacto con nosotros en
      nuestro correo electrónico:
      <a href="mailto:contacto@predyc.com" class="blueLink" target="_blank">soporte&#64;predyc.com</a>.
    </p>
    <p>Llamenos al: +52 (442) 7108072.</p>
    <div class="h6Title">Solicitud de eliminación de datos.</div>
    <p>
      Todo Usuario de la Plataforma tiene derecho a realizar la Solicitud de la
      eliminación total o parcial de sus datos. Para esto deberá:
    </p>
    <ul>
      <li>
        Enviar la solicitud de Eliminación de sus datos mediante un correo
        electrónico al:
        <a href="mailto:contacto@predyc.com" class="blueLink" target="_blank">soporte&#64;predyc.com</a>.
      </li>
      <li>
        Indicar o seleccionar los datos que quiere eliminar de forma permanente.
      </li>
    </ul>
    <p>
      Una vez iniciado el proceso o recibida la solicitud, la información podría
      tardar hasta 90 días en eliminarse. Una vez eliminada la información, nos
      puede llevar otros 90 días como máximo eliminarla de copias de seguridad o
      sistemas de recuperación antidesastres.
    </p>
    <div class="h6Title">¿Qué son las cookies?</div>
    <p>
      Las cookies son archivos de texto que se colocan en su computadora para
      recopilar información estándar de registro de Internet e información sobre
      el comportamiento de los visitantes. Cuando visita nuestra Plataforma,
      podemos recopilar información sobre usted automáticamente a través de
      cookies o tecnología similar.
    </p>
    <div class="h6Title">¿Cómo usamos las cookies?</div>
    <p>
      PREDYC utiliza cookies de varias maneras para mejorar su experiencia en
      nuestra Plataforma, que incluyen:
    </p>
    <ul>
      <li>Mantenerte conectado.</li>
      <li>Comprender cómo utiliza nuestra Plataforma.</li>
      <li>Iniciar sesión en PREDYC.</li>
      <li>Recordar datos sobre su navegador y sus preferencias.</li>
      <li>Identificar las vías de ingreso a nuestra página web.</li>
      <li>
        Almacenar información referente al progreso de los cursos inscritos en
        Predyc.
      </li>
      <li>
        Almacenar información de su uso de la plataforma para incrementar la
        velocidad del servicio.
      </li>
    </ul>
    <div class="h6Title">¿Qué tipos de cookies utilizamos?</div>
    <p>
      Hay varios tipos diferentes de cookies, sin embargo, nuestra Plataforma
      utiliza:
    </p>
    <p>
      <b><u>Identidad:</u></b>
    </p>

    <p>
      <b><u>Funcionalidad:</u></b> PREDYC utiliza estas cookies para que lo
      reconozcamos en nuestra Plataforma y recordemos sus preferencias
      previamente seleccionadas. Estas podrían incluir el idioma que prefiere y
      la ubicación en la que se encuentra. Se utiliza una combinación de cookies
      propias y de terceros.
    </p>
    <p>
      <b><u>Publicidad:</u></b> PREDYC utiliza estas cookies para recopilar
      información sobre su visita a nuestra Plataforma, el contenido que vio,
      los enlaces que siguió e información sobre su navegador, dispositivo y su
      dirección IP. Nuestra empresa a veces comparte algunos aspectos limitados
      de estos datos con terceros con fines publicitarios. También podemos
      compartir datos en línea recopilados a través de cookies con nuestros
      socios publicitarios. Esto significa que cuando visita otro sitio web, es
      posible que se le muestre publicidad basada en sus patrones de navegación
      en nuestro sitio web.
    </p>

    <div class="h6Title">¿Cómo administrar las cookies?</div>
    <p>
      Puede configurar su navegador para que no acepte cookies, y la Plataforma
      le indicará cómo eliminar las cookies de su navegador. Sin embargo, en
      algunos casos, algunas de las características de nuestra Plataforma pueden
      no funcionar como resultado.
    </p>
    <div class="h6Title">Políticas de privacidad de otros sitios web</div>
    <p>
      La Plataforma de PREDYC contiene enlaces a otros sitios web. Nuestra
      política de privacidad se aplica solo a nuestra Plataforma, por lo que, si
      hace clic en un enlace a otro sitio web, debe leer su política de
      privacidad.
    </p>
    <div class="h6Title">Cambios en nuestra política de privacidad</div>
    <p>
      PREDYC mantiene su política de privacidad bajo revisión periódica y coloca
      cualquier actualización en esta página web. Esta política de privacidad se
      actualizó por última vez el ** de noviembre de 2022.
    </p>
    <div class="h6Title">
      Información Personal solicitada por autoridades públicas
    </div>
    <p>
      PREDYC, en la medida que la Ley aplicable lo permita, se compromete a no
      divulgar o compartir los Datos Personales del Usuario, sin que el Usuario
      haya prestado el debido consentimiento para ello, incluyendo de las
      solicitudes de información de autoridades públicas en ejercicio de sus
      funciones y el ámbito de sus competencias.
    </p>

    <div class="h6Title">¿Cómo contactarnos?</div>

    <p>
      Si tiene alguna pregunta sobre la política de privacidad de PREDYC, los
      datos que tenemos sobre usted o si desea ejercer uno de sus derechos de
      protección de datos, no dude en ponerse en contacto con nosotros. Envíanos
      un email a:
      <a href="mailto:contacto@predyc.com" class="blueLink" target="_blank">soporte&#64;predyc.com</a>. Llámanos: +52 (442)
      7108072
    </p>
  </div>
</section>