<div class="grid-container">
    <!-- Primera fila -->
    <div class="grid-item3 center linked-profile">
        <a [routerLink]="'/programas/qvtiQsvdBRsuBFhQ7eq6'">
            <img [src]="gerenteMant" alt="img" class="profile-img">
            <p class="tituloperfil">Gerente Mant</p>
        </a>
    </div>

    <!-- Segunda fila -->
    <div class="grid-row">
        <div class="grid-item3 linked-profile">
            <a [routerLink]="'/programas/YOBykpaOSVpfyoZtMZwT'">
                <img [src]="coordinador" alt="img" class="profile-img">
                <p class="tituloperfil">Coordinador</p>
            </a>
        </div>
        <div class="grid-item3 no-link">
            <a>
                <img [src]="supervisor" alt="img" class="profile-img">
                <p class="tituloperfil">Supervisor</p>
            </a>
        </div>
        <div class="grid-item3 linked-profile">
            <a [routerLink]="'/programas/fdFWwWdYBz4E6WdUSkKA'">
                <img [src]="ingMantenimiento" alt="img" class="profile-img">
                <p class="tituloperfil">Ing Mantenimiento</p>
            </a>
        </div>
        <div class="grid-item3 linked-profile">
            <a [routerLink]="'/programas/gaVNyQgigForeDhB8BFV'">
                <img [src]="ingConfiabilidad" alt="img" class="profile-img">
                <p class="tituloperfil">Ing Confiabilidad</p>
            </a>
        </div>
        <div class="grid-item3 linked-profile">
            <a [routerLink]="'/programas/Z1EB5a4Dfjesz7CXE49C'">
                <img [src]="ingProy" alt="img" class="profile-img">
                <p class="tituloperfil">Ing Proyectos</p>
            </a>
        </div>
    </div>

    <!-- Tercera fila -->
    <div class="grid-row">
        <div class="grid-item3 linked-profile">
            <a [routerLink]="'/programas/AHBhXNuEJR2x9R1p3JkS'">
                <img [src]="tecMecanico" alt="img" class="profile-img">
                <p class="tituloperfil">Tec Mecánico</p>
            </a>
        </div>
        <div class="grid-item3 no-link">
            <a>
                <img [src]="tecElectrico" alt="img" class="profile-img">
                <p class="tituloperfil">Tec Electromecánico</p>
            </a>
        </div>
        <div class="grid-item3 linked-profile">
            <a [routerLink]="'/programas/dEegI4GaeHQpRKYG39vk'">
                <img [src]="tecInstrumentista" alt="img" class="profile-img">
                <p class="tituloperfil">Tec Instrumentista</p>
            </a>
        </div>
        <div class="grid-item3 no-link">
            <a>
                <img [src]="tecEspecialista" alt="img" class="profile-img">
                <p class="tituloperfil">Especialista</p>
            </a>
        </div>
        <div class="grid-item3 no-link">
            <a>
                <img [src]="tecPredictivo" alt="img" class="profile-img">
                <p class="tituloperfil">Tec Predictivo</p>
            </a>
        </div>
        <div class="grid-item3 no-link">
            <a>
                <img [src]="operador" alt="img" class="profile-img">
                <p class="tituloperfil">Operador</p>
            </a>
        </div>
    </div>
</div>
