<section class="vh100">
    <div class="cw" fxLayout="column">
        <div fxLayoutAlign="center">
            <mat-icon class="ftxxxl gray-4 linkIcon centertext"> list</mat-icon>
        </div>

        <h6 class="h6Title centertext">Términos y Condiciones Particulares del Plan Empresarial</h6>
        <br>
        <p><b style="color : black">PREDYC</b> pone a disposición de sus Usuarios la suscripción del <b
                style="color : black">Plan Empresarial</b>, para acceder a éste y de conformidad con los TyC, usted
            deberá
            aceptar y otorgar su consentimiento con los presente Términos y Condiciones Particulares de este Plan.</p>
        <h6 class="h6Title">1. Condiciones del Plan Empresarial.</h6>
        <ul>
            <li> Para ingresar a la Plataforma y poder acceder a todos los Cursos puestos a disposición por PREDYC en
                la misma, se le otorgará tantas Cuentas de Usuario, como hayan sido acordadas previamente entre PREDYC y
                la Empresa. </li>
            <li> Cada Usuario tiene prohibido compartir su Cuenta con terceros, dado que ésta es personal e
                intransferible.</li>
            <li> En cada Curso, cada Usuario podrá acceder a clases virtuales grabadas, material descargable facilitado
                por el Instructor en aquellos cursos que incluyan tal material, ayuda personalizada del Instructor para
                aclarar dudas y consultas, de forma escrita a través de la plataforma, entre otros, que PREDYC, informe
                en su debido momento.</li>
            <li> Por cada Curso finalizado satisfactoriamente, cada Usuario podrá tener acceso a un Certificado de
                culminación y aprobación, sí y sólo sí, cumplen con lo dispuesto en el inciso N° 8 “Cursos y
                Certificaciones”, de los TyC. </li>
            <li> El plazo para acceder a todos los Cursos es de 12 meses contados desde la fecha de su suscripción al
                Plan Empresarial. Dentro de este Plazo, cada Usuario podrá acceder sin limitación alguna a cualquiera de
                los Cursos expuestos en la Plataforma de PREDYC.
            </li>
            <li> Una vez finalizado el Plazo mencionado en el inciso anterior, se restringirá el acceso a todos los
                Cursos a todos Usuario del Plan, por lo que, en caso, de querer acceder nuevamente a dichos Cursos, la
                Empresa deberá renovar la suscripción a su Plan.
            </li>
            <li> Cada Usuario podrá ingresar a la Plataforma a través de los siguientes dispositivos: smartphone, tablet
                y computadora. Además, podrá tener registrada su Cuenta en cualquiera de los dispositivos anteriormente
                señalados hasta un límite de cinco (5) dispositivos.</li>
            <li> En caso, de que el Usuario ingrese a través de un sexto dispositivo, se eliminará el registro de su
                Cuenta en uno de los dispositivos a los que ya se había logueado, debiéndose loguear otra vez, en caso
                desee ingresar nuevamente a uno de estos dispositivos.</li>
            <li> Cada Usuario no podrá acceder al Curso ni a la Plataforma de manera simultánea en más de un
                dispositivo; debido a motivos de seguridad de la información y datos personales.</li>
        </ul>
        <p>
            PREDYC se reserva el derecho de suspender o rescindir el acceso al Servicio, y en cualquier momento, si los
            Usuarios no cumplen con las disposiciones establecidas en el presente documento y en los TyC.
        </p>
        <h6 class="h6Title">2. ¿Qué incluye el Plan Empresarial?</h6>
        <ul>
            <li> Acceso ilimitado de cada Usuario a todos los cursos y programas.</li>
            <li> Herramienta de RRHH para control y KPIs.</li>
            <li> Soporte continuo al cliente.</li>
            <li> Creación de cronogramas de capacitación.</li>
        </ul>
        <h6 class="h6Title">3. Opción de Rotación de Usuarios por un costo adicional.</h6>
        <p> En caso de que la Empresa lo requiera, podrá solicitar la Rotación de Cuentas de Usuario, por un costo
            adicional al fijado en el Plan Empresarial y que será acordado por las Partes cuando se realice la compra.
        </p>
        <p>En el momento en que la Empresa realice la solicitud de la inclusión este Servicio en el Plan Empresarial, la
            misma deberá indicar el número de Rotaciones que desea comprar, teniendo en cuenta que las mismas son
            consumibles y no acumulables.</p>
        <p>Cuando se desee activar una Rotación de Cuenta de Usuario, el Representante de la Empresa deberá enviar una
            Solicitud por escrito a PREDYC, mediante un correo electrónico a esta dirección <a href="mailto:soporte@predyc.com"
            class="blueLink" target="_blank">soporte&#64;predyc.com</a>, en donde deberá
            indicar la Cuenta de Usuario que desea desactivar y proporcionar los datos para el Registro de la nueva
            Cuenta que se activará en su reemplazo.</p>
        <h6 class="h6Title">4. Tarifa del Plan Empresarial.</h6>
        <ul>
            <li> El Plan Empresarial se activará, una vez PREDYC haya podido verificar que el pago de la Tarifa por
                dicho Plan haya sido realizado con éxito. La Tarifa del Plan Empresarial se encuentra disponible
                <a class="blueLink" [routerLink]="'/home'" [queryParams]="{ seePricing: true }">aqui</a>
            </li>
            <li> PREDYC se reserva el derecho de lanzar Promociones en la Plataforma y también a través de sus redes
                Sociales.</li>
            <li> El Plan Empresarial es de renovación automática y el cobro de la Tarifa es Anual, por lo que luego de
                finalizado el Plazo del Plan Empresarial (12 meses), PREDYC podrá renovar de forma automática éste Plan,
                esto según la Forma de Pago asociada a su Cuenta.
            </li>
            <li> IMPORTANTE: La Empresa reconoce que no existe derecho a devolución de dinero alguno a su favor por
                renovación automática de su Plan Empresarial.
            </li>
            <li> Si la Empresa desea cancelar su suscripción antes de la fecha de vencimiento, debe hacerlo únicamente
                desde la sección de la Plataforma destinada para ello: <a href="mailto:soporte@predyc.com"
                class="blueLink" target="_blank">soporte&#64;predyc.com</a>. Esta acción hará que el Plan no se
                autorenueve pero el servicio seguirá vigente hasta la fecha de expiración indicada en su Cuenta.
            </li>
            <li> En el caso de que la tarjeta asociada a su Cuenta, no cuente con el saldo suficiente, se intentará
                nuevamente en un plazo de tres (3) días calendarios. Al llegar al tercer día y no poder realizar el
                cobro de la Tarifa, PREDYC cancelará su suscripción al Plan Empresarial.</li>
        </ul>
        <h6 class="h6Title">5. Reembolsos</h6>
        <ul>
            <li> La devolución será al 100% siempre y cuando se cumpla con lo siguiente:
                <ul>
                    <li> Haber realizado la compra en un lapso de tiempo no mayor a 15 días calendario anteriores a su
                        solicitud de devolución.

                    </li>
                    <li> Que entre uno o mas usuarios de la empresa no se hayan completado mas de 3 cursos.
                    </li>
                </ul>
            <li> Si no se cumple con alguno de los puntos antes mencionados, no hay lugar a cambio y/o reembolso.
            <li> En caso solicites una devolución luego de los 07 días de compra, el reembolso no procederá.
            <li> Para generar una Solicitud de reembolso envíanos un correo a: *******. Deberás indicar el
                mail de registro, motivo de la Solicitud, y el nombre del Plan del que solicitas reembolso. Ten en
                cuenta que deberás proporcionar estos datos de forma correcta, pues en caso contrario el reembolso no
                procederá.
        </ul>
        <h6 class="h6Title">6. Autorización sobre el uso de datos.</h6>
        <p> Al suscribirse en el Plan Empresarial, el Usuario (La Empresa) otorga su consentimiento para que PREDYC:
        </p>
        <ul>
            <li> Recopile y procese de toda la información relacionada con el uso que éste hace de la misma, incluyendo
                la Información de Registro. </li>
            <li> Utilice de su nombre, Logo, comentarios que sus Usuarios realicen, entre otros datos, para fines
                promocionales y de mercadotecnia en nuestra web, redes sociales y cualquier otro medio que PREDYC
                disponga. </li>
        </ul>
        <h6 class="h6Title">7. Respecto a las modificaciones y cancelación</h6>
        <p>PREDYC se reserva el derecho de modificar la Tarifa asignada al Plan Empresarial, cuando lo considere
            conveniente, bastando la notificación al Usuario a través del correo electrónico y/o la publicación en la
            Plataforma.</p>
        <p>De igual forma, PREDYC puede modificar los Términos de del Plan Empresarial. Si el Usuario no acepta los
            nuevos
            términos y condiciones podrá cancelar nuestro Servicio, de acuerdo a lo indicado en el inciso anterior
            (“Reembolsos), a través de la Plataforma, para lo cual deberá comunicarse con el siguiente correo
            electrónico
            ********. En ese caso, perderá el acceso a todos los Cursos que se haya inscrito.</p>
        <p>Declaro que luego de haber leído los Términos y Condiciones Particulares del Plan Empresarial, acepto todo lo
            anteriormente mencionado. En señal de conformidad, procedo a llenar el formulario de compra de dicho Plan.
        </p>
    </div>
</section>