<div class="fw colCenter mgt40 "  >
    <div class="w-60">
        <h2 class="fw centertext ftxl ft600 gray-9">Un plan de capacitación personalizado para cada perfil técnico        </h2>
    </div>
    <p class="ft14 gray-9 mgt10">Tomamos el listado de personas de mantenimiento y cargos y asignamos los cursos que
    necesitan.</p>  
    <!-- <div class=" colCenter fw mgt40">
        <div class="chip-container">
            <div class="chipGray rowchip gray-9 ft14 ft500">Gerente</div>
            <div class="chipGray rowchip gray-9 ft14 ft500">Supervisor</div>
            <div class="chipYellow rowchip gray-9 ft14 ft500">Coordinador</div>
            <div class="chipGray rowchip gray-9 ft14 ft500">Ing. de Mantenimiento</div>
            <div class="chipGray rowchip gray-9 ft14 ft500">Ingeniero de Proyectos</div>
            
        </div>
        <div class="chip-container mgt10">
            <div class="chipGray rowchip gray-9 ft14 ft500">Téc. Mecánico</div>
            <div class="chipGray rowchip gray-9 ft14 ft500">Téc. Electromecánico</div>
            <div class="chipGray rowchip gray-9 ft14 ft500">Téc. Instrumentista</div>
            <div class="chipGray rowchip gray-9 ft14 ft500">Operador</div>
            <div class="chipGray rowchip gray-9 ft14 ft500">Téc. Predictivo</div>
        </div>

    </div> -->
