<section class="vh100">
    <div class="cw" fxLayout="column">
        <div fxLayoutAlign="center">
            <mat-icon class="ftxxxl gray-4 linkIcon centertext"> list</mat-icon>
        </div>

        <h6 class="h6Title centertext">Términos y Condiciones Particulares del Plan Independiente</h6>
        <br>
        <p><b style="color : black">PREDYC</b> pone a disposición de sus Usuarios la suscripción del <b
                style="color : black">Plan Independiente</b>, para acceder a éste y de conformidad con los TyC, usted deberá
            aceptar y otorgar su consentimiento con los presente Términos y Condiciones Particulares de este Plan.</p>
        <h6 class="h6Title">1. Condiciones del Plan Independiente.</h6>
        <ul>
            <li> Para ingresar a la Plataforma y poder acceder a todos los Cursos puestos a disposición por PREDYC en
                la misma, se le otorgará una única Cuenta de Usuario.</li>
            <li> El Usuario tiene prohibido compartir su Cuenta con terceros, dado que ésta es personal e
                intransferible.</li>
            <li> En cada Curso el Usuario podrá acceder a clases virtuales grabadas, material descargable facilitado
                por el Instructor en aquellos cursos que incluyan tal material, ayuda personalizada del Instructor para
                aclarar dudas y consultas, de forma escrita a través de la plataforma, entre otros, que PREDYC, informe
                en su debido momento.</li>
            <li> Por cada Curso finalizado satisfactoriamente, el Usuario podrá tener acceso a un Certificado de
                culminación y aprobación, sí y sólo sí, cumple con lo dispuesto en el inciso N° 8 “Cursos y
                Certificaciones”, de los TyC. </li>
            <li> El plazo para acceder a todos los Cursos es de 12 meses contados desde la fecha de su suscripción al
                Plan Independiente. Dentro de este Plazo, el Usuario podrá acceder sin limitación alguna a cualquiera de los
                Cursos expuestos en la Plataforma de PREDYC. </li>
            <li> Una vez finalizado el Plazo mencionado en el inciso anterior, se restringirá el acceso a todos los
                Cursos, por lo que, en caso, de querer acceder nuevamente a dichos Cursos, el Usuario deberá renovar su
                Plan.</li>
            <li> El Usuario podrá ingresar a la Plataforma a través de los siguientes dispositivos: smartphone, tablet
                y computadora. Además, podrá tener registrada su Cuenta en cualquiera de los dispositivos anteriormente
                señalados hasta un límite de cinco (5) dispositivos.</li>
            <li> En caso, de que el Usuario ingrese a través de un sexto dispositivo, se eliminará el registro de su
                Cuenta en uno de los dispositivos a los que ya se había logueado, debiéndose loguear otra vez, en caso
                desee ingresar nuevamente a uno de estos dispositivos.</li>
            <li> El Usuario no podrá acceder al Curso ni a la Plataforma de manera simultánea en más de un
                dispositivo; debido a motivos de seguridad de la información y datos personales.</li>
        </ul>
        <p>
            PREDYC se reserva el derecho de suspender o rescindir el acceso al Servicio, y en cualquier momento, si el
            Usuario no cumple con las disposiciones establecidas en el presente documento y en los TyC.
        </p>
        <h6 class="h6Title">2. Tarifa del Plan Independiente</h6>
        <ul>
            <li> El Plan Independiente se activará, una vez PREDYC haya podido verificar que el pago de la Tarifa por dicho
                Plan haya sido realizado con éxito. La Tarifa del Plan Independiente se encuentra <a class="blueLink" [routerLink]="'/home'" [queryParams]="{ seePricing: true }">aqui</a>
            </li>
            <li> PREDYC se reserva el derecho de lanzar Promociones en la Plataforma y también a través de sus redes
                Sociales.</li>
            <li> El Plan Independiente es de renovación automática y, como su nombre lo indica, el cobro de la Tarifa es Independiente,
                por lo que luego de finalizado el Plazo del Plan Independiente (12 meses), PREDYC podrá renovar de forma
                automática éste Plan, esto según la Forma de Pago asociada a su Cuenta.</li>
            <li> IMPORTANTE: El Usuario reconoce que no existe derecho a devolución de dinero alguno a su favor por
                renovación automática de su Plan Independiente.</li>
            <li> Si el Usuario desea cancelar su suscripción antes de la fecha de vencimiento, debe hacerlo únicamente
                desde la sección de la Plataforma destinada para ello en <a class="blueLink" target="_blank" href="https://app.predyc.com/perfil">Mi
                    cuenta </a>. Esta acción hará que el Plan no
                se autorenueve pero el servicio seguirá vigente hasta la fecha de expiración indicada en su Cuenta.</li>
            <li> En el caso de que la tarjeta asociada a su Cuenta, no cuente con el saldo suficiente, se intentará
                nuevamente en un plazo de tres (3) días calendarios. Al llegar al tercer día y no poder realizar el
                cobro de la Tarifa, PREDYC cancelará su suscripción al Plan Independiente.</li>
        </ul>
        <h6 class="h6Title">3. Reembolsos</h6>
        <ul>
            <li> La devolución será al 100% siempre y cuando el Usuario cumpla con lo siguiente:
                <ul>
                    <li> Encontrarse en el lapso de tiempo no mayor a 7 días del día de haber realizado su suscripción.
                    </li>
                    <li> Los progresos de los cursos no sobrepasen el 30% para ninguno de ellos. En el caso de que
                        alguno de los cursos
                        supere el 30% de progreso, el reembolso no será efectuado.</li>
                </ul>
            <li> Si no se cumple con alguno de los puntos antes mencionados, no hay lugar a cambio y/o reembolso.
            <li> En caso solicites una devolución luego de los 07 días de compra, el reembolso no procederá.
            <li> Para generar una Solicitud de reembolso envíanos un correo a: <a href="mailto:soporte@predyc.com"
                    class="blueLink" target="_blank">soporte&#64;predyc.com</a>. Deberás indicar el
                mail de registro, motivo de la Solicitud, y el nombre del Plan del que solicitas reembolso. Ten en
                cuenta que deberás proporcionar estos datos de forma correcta, pues en caso contrario el reembolso no
                procederá.
        </ul>
        <h6 class="h6Title">4. Respecto a las modificaciones y cancelación</h6>
        <p>PREDYC se reserva el derecho de modificar la Tarifa asignada al Plan Independiente, cuando lo considere conveniente,
            bastando la notificación al Usuario a través del correo electrónico y/o la publicación en la Plataforma.</p>
        <p>De igual forma, PREDYC puede modificar los Términos de del Plan Independiente. Si el Usuario no acepta los nuevos
            términos y condiciones podrá cancelar nuestro Servicio, de acuerdo a lo indicado en el inciso anterior
            (“Reembolsos), a través de la Plataforma, para lo cual deberá comunicarse con el siguiente correo
            electrónico <a href="mailto:soporte@predyc.com" class="blueLink" target="_blank">soporte&#64;predyc.com</a>. En
            ese caso, perderá el acceso a todos los Cursos.</p>
        <p>Declaro que luego de haber leído los Términos y Condiciones Particulares del Plan Independiente, acepto todo lo
            anteriormente mencionado. En señal de conformidad, procedo a llenar el formulario de compra de dicho Plan.
        </p>
    </div>
</section>