
<ng-container>
	<form class="fw fh">
		<div *ngIf="activity" id="result" class="fw fh" fxLayout="column" fxLayoutAlign="{{(activity.activityCorazon || activity['validationTestType'] == 'inicial') ? 'center center' : ' center'}}">
			<div ngClass="w-60" ngClass.lt-md="fw">
				<ng-container *ngIf="!activity.activityCorazon">
					<ng-container *ngIf="showInitTestInstructions">
						<div style="height: 80vh !important;" class="fw" fxLayout = "column" fxLayoutAlign="center center"> 
							<div *ngIf="activity.isTest" class="pd10">
								<ng-container *ngIf="activity['validationTestType']">
									<div *ngIf="activity['validationTestType'] " class="centertext pdb05">
										Estás por comenzar tu diagnóstico
									</div>
									<div class="centertext pdb05 red-5 ft600">
										Solo puedes responder cada pregunta una (1) vez y no podrás regresar.
									</div>
								</ng-container>
							</div>
							<div>
								<button *ngIf="activity['validationTestType'] || activity.isTest" class="mgb20" (click)="showInitTestInstructions = false">
									Iniciar examen
								</button>
							</div>
						</div>
					</ng-container>
					<div  style="max-height: 90vh !important; overflow-y: auto; overflow-x: hidden;" class="hideScroll" 
					*ngIf="activityQuestions && activityQuestions.length > 0 && !showInitTestInstructions && !tryCompleted ">
						<!-- Animated question container -->
						<!--<div [@carouselAnimation]="currentQuestionIndex" class="question-container hideScroll">-->
						<div class="question-container hideScroll">
							<div *ngIf="activityQuestions[currentQuestionIndex] as question" class="fw  shadow10 pd10 mgt40">
								<div class="pdb08 border-bl" fxLayout.lt-md="column" fxLayout="row" fxLayout.lt-md=" start" fxLayoutAlign="space-between center">
									<!-- <span class="ft14 ft500"
										>{{ questionIndex + 1 }}. Instrucciones:
									</span> -->
									<div
									class="gray-8 radius4 ft12 pd03 h28px" style="border:0px !important"
									[ngClass]="{
										'backBlue1 ft500 blue-5':question.type.value === 'true-false' || (question.type.value === 'single_choice' && question['newTrueFalseFormat'] ),
										'backPurple1 ft500 purple-5':question.type.value === 'single_choice' && (!question['newTrueFalseFormat'] ),
										'backRed1 ft500 red-5':question.type.value === 'multiple_choice',
										'backGray1':question.type.value !== 'true-false' && question.type.value !== 'single_choice' && question.type.value !== 'multiple_choice'
									}">
										{{ question['newTrueFalseFormat'] ? 'Verdadero o Falso': question.type.displayName }}
									</div>
		
									<span (click)="debugQurestion(activityQuestions[currentQuestionIndex])">Pregunta   {{currentQuestionIndex + 1}} / {{activityQuestions.length}}</span>
								</div>
	
								<div class="fw" *ngIf="question?.image?.url">
									<div fxLayoutAlign="center center">
										<div class="position-relative">
											<img [src]="question.image.url" alt="" style="width: auto; max-height: 300px; object-fit: contain;" class="radius6 mgt10">
											<!-- Badge con imagen SVG -->
											<div class="badge-icon cursorPointer" (click)="openImageInNewTab(question.image.url)">
											  <img [src]="icon.zoomIn" alt="Lupa" class="badge-img">
											</div>
										</div>
									</div>
								</div>
								  
								
								<div class="fw" *ngIf="question.image && isString(question.image)">
									<img [src]="question.image" alt="" style="width: 100%;" class="radius6 mgt10">
								</div>
								<div *ngIf="question.type.value == questionTypes.TYPE_SINGLE_CHOICE_VALUE">
									<!-- <span class="ft14 ft500">{{questionIndex+1}}. {{ question.text }} </span> -->
									<p class="ft500 ft14 mgt10 no-select notranslate"  style="white-space: pre-wrap;">{{ question.text }} </p>
									<div class="mgt10" fxLayout="column">
										<div (click)="optionRadio.click()" fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let option of question.options; let optionIndex = index" 
										class="mgt05 radius4 backGray1 pd05 cursorPointer no-select notranslate"
										[ngClass]="{
											'backBlue1 borderBlue5': activityAnswers[currentQuestionIndex].answerItems[optionIndex].answer,
											'backGreen1':
												isSuccess === true &&
												activityAnswers[currentQuestionIndex]
													.answerItems[optionIndex]
													.answer &&
												activityAnswers[currentQuestionIndex]
													.answerItems[optionIndex]
													.isCorrect,
											'backRed5':
												isSuccess === true &&
												activityAnswers[currentQuestionIndex]
													.answerItems[optionIndex]
													.answer &&
												!activityAnswers[currentQuestionIndex]
													.answerItems[optionIndex]
													.isCorrect
											}">
											<div class=" pdl05 pdr05 radius4">
												<p class="mgb0" [ngClass]="{
													'white-text':
														isSuccess === true &&
														activityAnswers[currentQuestionIndex].answerItems[optionIndex]
														.answer}">
													{{ option.text }}
												</p>
											</div>
											<input #optionRadio type="radio" [name]="currentQuestionIndex" (change)="checkAnswer(currentQuestionIndex, optionIndex)" [disabled]="isSuccess !== null" />
										</div>
									</div>
								</div>
								<div *ngIf=" question.type.value == questionTypes.TYPE_MULTIPLE_CHOICE_VALUE ">
									<p class="ft500 ft14 mgt10 no-select notranslate"  style="white-space: pre-wrap;">{{ question.text }} </p>
									<div
										class="mgt10"fxLayout="column">
										<div (click)="optionCheck.click()" fxLayout="row" fxLayoutAlign="space-between center"
											*ngFor="
												let option of question.options;
												let optionIndex = index"
											class="mgt05 radius4 backGray1 pd05 cursorPointer no-select notranslate"
											[ngClass]="{
												'backBlue1 borderBlue5': option.isSelected,
												correctAnswer:
													isSuccess === true &&
													activityAnswers[currentQuestionIndex]
														.answerItems[optionIndex]
														.answer ===
														activityAnswers[currentQuestionIndex]
															.answerItems[optionIndex]
															.isCorrect &&
													activityAnswers[currentQuestionIndex]
														.answerItems[optionIndex]
														.answer,
												incorrectAnswer:
													isSuccess === true &&
													activityAnswers[currentQuestionIndex]
														.answerItems[optionIndex]
														.answer !==
														activityAnswers[currentQuestionIndex]
															.answerItems[optionIndex]
															.isCorrect &&
													activityAnswers[currentQuestionIndex]
														.answerItems[optionIndex].answer}">
											<div class=" pdl05 pdr05 radius4">
												<p class="mgb0"[ngClass]="{'white-text': isSuccess === true}">
													{{ option.text }}
												</p>		
											</div>
											<input #optionCheck type="checkbox" (click)="$event.stopPropagation()" (change)=" checkAnswer(currentQuestionIndex,optionIndex)" [disabled]="isSuccess !== null" />
										</div>
									</div>
								</div>
								<div *ngIf=" question.type.value == questionTypes.TYPE_COMPLETE_VALUE ">
									<span
										class="ft14 ft500"
										*ngFor="let item of getDisplayText(question)">
										<span
											*ngIf="
												question
													.getPlaceholders()
													.includes(item)
											">
											<select
												#selectedOption
												[disabled]="isSuccess === true"
												[ngClass]="{
													correctAnswerPlaceholder:
														isSuccess === true &&
														selectedIsCorrect(
															currentQuestionIndex,
															item
														),
													incorrectAnswerPlaceholder:
														isSuccess === true &&
														!selectedIsCorrect(
															currentQuestionIndex,
															item
														)
												}"
												(change)="
													updateSelectedOption(
														currentQuestionIndex,
														item,
														selectedOption.value
													)
												">
												<option
													disabled
													selected
													value>
													-- Selecciona una opcion --
												</option>
												<option
													*ngFor="
														let option of question.getOptionsForPlaceholder(
															item
														);
														let optionIndex = index
													"
													[value]="option.text">
													{{ option.text }}
												</option>
											</select>
										</span>
										<span
											*ngIf="
												!question
													.getPlaceholders()
													.includes(item)
											">
											{{ item }}
										</span>
									</span>
								</div>
								<div *ngIf="question.type.value == questionTypes.TYPE_TRUE_OR_FALSE_VALUE">
									<!-- <span class="ft14 ft500">
										{{ question.text }}
									</span> -->
									<p class="ft500 ft14">{{currentQuestionIndex+1}}. {{ question.text }} </p>
									<div
										class="mgt10"
										fxLayout="column">
										<div
											fxLayout="row"
											fxLayoutAlign="space-between center">
											<span
												fxFlex="60"
												class="ft14 ft500"
												>Enunciado</span
											>
											<div class="centertext w200px">
												<span
													fxFlex="50"
													class="ft14 ft500"
													>V</span
												>
												<span
													fxFlex="50"
													class="ft14 ft500"
													>F</span
												>
											</div>
										</div>
										<div
											fxLayout="row"
											fxLayoutAlign="space-between center"
											class="mgt05"
											*ngFor="
												let option of question.options;
												let optionIndex = index
											"
											[ngClass]="{
												correctAnswer:
													isSuccess === true &&
													activityAnswers[currentQuestionIndex]
														.answerItems[optionIndex]
														.answer !== null &&
													activityAnswers[currentQuestionIndex]
														.answerItems[optionIndex]
														.answer ===
														activityAnswers[currentQuestionIndex]
															.answerItems[optionIndex]
															.isCorrect,
												incorrectAnswer:
													isSuccess === true &&
													activityAnswers[currentQuestionIndex]
														.answerItems[optionIndex]
														.answer !== null &&
													activityAnswers[currentQuestionIndex]
														.answerItems[optionIndex]
														.answer !==
														activityAnswers[currentQuestionIndex]
															.answerItems[optionIndex]
															.isCorrect
											}">
											<div
												fxFlex="60"
												fxLayout="row"
												fxLayoutGap="1rem">
												<span
													[ngClass]="{
														'white-text':
															isSuccess === true &&
															activityAnswers[
																currentQuestionIndex
															].answerItems[optionIndex]
																.answer !== null
													}"
													>{{ optionIndex + 1 }}.
													{{ option.text }}</span
												>
											</div>
											<div class="centertext w200px">
												<input
													fxFlex="50"
													[name]="
														currentQuestionIndex.toString() +
														optionIndex.toString()
													"
													type="radio"
													[value]="true"
													[(ngModel)]="
														activityAnswers[currentQuestionIndex]
															.answerItems[optionIndex]
															.answer
													"
													[disabled]="isSuccess !== null" />
												<input
													fxFlex="50"
													[name]="
														currentQuestionIndex.toString() +
														optionIndex.toString()
													"
													type="radio"
													[value]="false"
													[(ngModel)]="
														activityAnswers[currentQuestionIndex]
															.answerItems[optionIndex]
															.answer
													"
													[disabled]="isSuccess !== null" />
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<!-- Navigation buttons for !activityCorazon -->
						<div fxLayout="row" fxLayoutAlign="space-between center" class="navigation-buttons">
							<div fxFlex></div>
							<div fxFlex class="centertext pdb05 red-5 ft600">{{msgWarning}}</div>
							<button *ngIf="!isLastQuestion && isSuccess == null" class="mgt20 mgr10 mgb20 blueButton" (click)="nextQuestionTest(activity.isTestProfile?'testProfile':'')">
								Siguiente
							</button>
							<!-- Complete diagnostic test -->
							<button *ngIf="isSuccess !== true && isLastQuestion && activity.isTestProfile" type="button" class="blueButton mgr10 mgt20 mgb20" (click)="completeTest('testProfile')">
								Completar cuestionario
							</button>
							<!-- {{activity.initCoursetest}} -->
							<button *ngIf="isSuccess !== true && isLastQuestion && activity.isTest && !activity.isTestProfile" type="button" 
							class="blueButton mgr10 mgt20 mgb20" (click)="activity.initCoursetest?completeTest('initCoursetest'):completeTest()">
								Completar cuestionario
							</button>
							<button *ngIf="tryCompleted !== true && isLastQuestion && !activity.isTestProfile && ! activity.isTest" type="button" 
							class="blueButton mgr10 mgt20 mgb20" (click)="completeTest('activity')">
								Finalizar actividad
							</button>
						</div>
					</div>
					<!-- Congratulations text -->
					<ng-container *ngIf="tryCompleted">
						<div style="height: 80vh !important;" class="fw" fxLayout = "column" fxLayoutAlign="center center"> 
							<div
								*ngIf="isSuccess && !activity.isTest"
								fxLayout="column"
								fxLayoutAlign=" center">
								<span class="mgt05 ft500 ft14 gray-8 centertext mg10"
									>Felicidades! Has aprobado con
									{{
										activityScores.finalScore * 100
											| number : "1.0-0"
									}}% del puntaje total ({{
										activityScores.collectedPoints
											| number : "1.2-2"
									}}/{{
										activityScores.expectedPoints
											| number : "1.0-0"
									}})</span
								>
								<button
									class="blueButton mgt05"
									(click)="closeActivityDialog.emit()">
									Continuar
								</button>
							</div>
							<div *ngIf="isSuccess && activity.isTest && !activity.isTestProfile" fxLayout="column" fxLayoutAlign=" center"> 
								<span class="mgt05 ft500 ft22 ft500 centertext" >¡Felicidades!</span>
								<ng-container *ngIf="!activity?.isTestDiplomado">
									<!-- for normal course -->
									<span *ngIf="curso.coursesByStudentData" class="mgt05 ft500 ft12 gray-10 centertext">
										Has aprobado el curso {{ curso.titulo }} con
										{{
											activityScores.finalScore * 100
												| number : "1.0-0"
										}}% del puntaje total
									</span>
									<!-- for live course and diagnostic test -->
									<span *ngIf="!curso.coursesByStudentData && activity.type === 'test'" class="mgt05 ft500 ft12 gray-10 centertext">
										Has completado el examen de diagnóstico con
										{{
											activityScores.finalScore * 100
												| number : "1.0-0"
										}}% del puntaje total
									</span>
									<!-- for live course and final test -->
									<span *ngIf="!curso.coursesByStudentData && activity.type === 'final-test'" class="mgt05 ft500 ft12 gray-10 centertext">
										Has aprobado el curso {{ curso.title }} con
										{{
											activityScores.finalScore * 100
												| number : "1.0-0"
										}}% del puntaje total
									</span>
								</ng-container>

								<span *ngIf="activity?.isTestDiplomado" class="mgt05 ft500 ft12 gray-10 centertext">
									Has aprobado {{ diplomado.name }} con
									{{
										activityScores.finalScore * 100
											| number : "1.0-0"
									}}% del puntaje total
								</span>


								
							</div>
							<div
								*ngIf="isSuccess === false && !activity.isTestProfile"
								fxLayout="column"
								fxLayoutAlign=" center">
								<span class="mgt05 ft500 ft14 centertext">Has fallado {{activity.isTest?'el examen':'la actividad'}}. Tu puntaje ha sido
									{{
										activityScores.finalScore * 100
											| number : "1.0-0"
									}}% del puntaje total ({{
										activityScores.collectedPoints | number : "1.2-2"
									}}/{{ activityScores.expectedPoints | number : "1.0-0" }})
								</span>
								<button
									class="blueButton mgt10"
									(click)="retryActivity.emit()">
									Intentar de nuevo
								</button>
							</div>
							<div
								*ngIf="isSuccess !== null && activity.isTestProfile" fxLayout="column" fxLayoutAlign=" center">
								<!-- <span class="mgt05 ft500 ft14 centertext mg10"
									>Prueba diagnostica completada. Tu puntaje ha sido
									{{
										activityScores.finalScore * 100
											| number : "1.0-0"
									}}% del puntaje total ({{
										activityScores.collectedPoints | number : "1.2-2"
									}}/{{ activityScores.expectedPoints | number : "1.0-0" }})
								</span> -->
								<ng-container *ngIf="!completedForm">
									<span class="mgt05 ft500 ft18 centertext mgt10">
										¡Prueba diagnóstica completada!
									</span>
									<span class="mgt05 ft500 ft14 centertext mgt10 mgb20">
										Por favor completa la siguiente información y te enviaremos por correo los resultados de tu diagnóstico.
									</span>
								</ng-container>
								<app-reunion-form (complete)="saveData($event)" type="diagnostico" campana="" [anuncio]="null" interes=""
									subject="Nuevo llenado formulario diagnóstico" [recipients]="['liliana.giraldo@predyc.com','andres.gonzalez@predyc.com','desarrollo@predyc.com']"
									responsable="" origen="diagnostico/{{activity.id}}"
									exitoText1="Muchas gracias" 
									exitoText2="En breve te enviaremos a tu correo un enlace donde podrás ver y compartir tu resultado."
									lugar="diagnostico" btnText="Enviar mis resultados" (formSubmit)="handleFormSubmit($event)">
								</app-reunion-form>
							</div>
						</div>

					</ng-container>
				</ng-container>
			</div>
		</div>
	</form>
</ng-container>
