<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="3rem" class="backBlue1 sectionCont">

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem" class="w-60">
        <p class="ft28 ft600 centertext black">Conoce la <span class="ft32 blue-4">Revista #1</span> en Mantenimiento Industrial de LATAM</p>
        <p class="ft28 ft600 centertext gray-7">Nuestra empresa ha fomentado la comunidad técnica de Mantenimiento y Confiabilidad más grande de LATAM</p>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap=".25rem" class="w-65 my-component">
 
        <div fxLayout="row" fxLayoutAlign="center center" class="fw">

            <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="" class="fw">
                <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap=".1rem" class="spaceToAlign borderLeft">
                    <div class="ft16 ft600">2013</div>
                    <div class="ft12 w-80">Fundamos la revista #1 de Mantenimiento y Confiabilidad</div>
                </div>
                <div class="borderLeft backBlue5 barDimensions"></div> <!-- Bar -->
                <div fxLayout="column" fxLayoutAlign="center end" fxLayoutGap=".5rem" class="spaceToAlign">
                    <div class="ft16 ft600">2019</div>
                </div>
            </div>

            <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="" class="fw">
                <div fxLayout="column" fxLayoutAlign="center end" fxLayoutGap=".5rem" class="spaceToAlign">
                    <div class="ft16 ft600">2021</div>
                </div>
                <div class="borderLeft backBlue3 barDimensions"></div> <!-- Bar -->
                <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap=".1rem" class="borderLeft spaceToAlign">
                    <div class="ft12 w-80">Predictiva21 se constituye como líder en capacitación en línea y presencial</div>
                </div>

            </div>

            <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="" class="fw">
                <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap=".1rem" class="spaceToAlign borderLeft">
                    <div class="ft12 w-80">Lanzamos la plataforma PREDYC para capacitación flexible 24 / 7</div>
                </div>
                <div class="borderLeft backOrange2 barDimensions borderRigth"></div> <!-- Bar -->
                <div fxLayout="column" fxLayoutAlign="center end" fxLayoutGap=".5rem" class="spaceToAlign borderRigth">
                    <div class="ft16 ft600">2024</div>
                </div>
            </div>

            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="" class="totalSpaceToAlign w-60">
                <div class="ft20 ft600">+3000</div>
                <div class="ft20 ft600 centertext">Profesionales Capacitados</div>
            </div>
            
        </div>
      
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-60">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem" class="w-50">
            <p class="ft22 ft600 gray-8">
                Hasta la fecha publicamos más de 1000 artículos y 300 autores en nuestra Revista Digital
            </p>
            <p class="ft14 black">
                Construimos la red de aprendizaje para profesionales de Mantenimiento de mayor prestigio.
            </p>

        </div>
      
        <div fxLayout="column" fxLayoutAlign="center center">
          <img [src]="revistaImage" alt="Revista Image" class="w250px">    
          <button class="blueButton ft13 ft500 w-70">Descargar Edic. #50</button>
        </div>
    </div>

</div>