.sectionCont {
    width: 100%;
    padding: 80px 0px;
}

.my-component {
    --spaceToAlign-height: 70px;
    --bar-height: 18px;
}

.borderLeft {
    border-left: var(--backBlack) 2.5px solid !important;
}

.borderRigth {
    border-right: var(--backBlack) 2.5px solid !important;
}

.barDimensions {
    height: var(--bar-height) !important;
    /* height: 18px !important; */
    width: 100%;
}
  
.spaceToAlign {
    height: var(--spaceToAlign-height) !important;
    width: 100%;
    padding: 8px;
}

.totalSpaceToAlign {
    height: calc(var(--spaceToAlign-height) * 2 + var(--bar-height));
    padding: 8px;
}