<div class="fw  pdt40  centertext colCenter">
    <h2 class="ftxl gray-10 ft600 ">Herramienta de RH para control de las capacitaciones de tu equipo</h2>
    <p class="gray-8 ft14 mgt20 w-60">Cuando tienes un equipo grande, necesitas asegurarte que las personas estén invirtiendo esfuerzo.
    <br>Adicionalmente, con la herramienta podrás realizar rotaciones de personas, cambios en los planes de formación, fechas y obtener KPIs.
    </p>
    <!-- <p><span class="ftxl yellow-3 mgt20 ft600">Cursos grabados</span><span class="ftxl gray-4 mgl05 ft600">=</span><span class="ftxl gray-2 mgl05 ft600">Flexibilidad 24/7</span></p> -->
    <div class="">
        <!-- <app-student-plan></app-student-plan> -->
        <app-plan-copy style="width: 30%!important;" ></app-plan-copy>
    </div>
</div>
