<div class="fw backDark pdl40 pdr40 centertext colCenter">
  <div class="chipYellow gray-9 mgt30 ft500">E-learning / LMS</div>
  <h2 class="ftxl gray-2 ft600 mgt30">E-learning resulta más efectivo cuando tu equipo tiene muchas personas</h2>
  <p class="yellow-3 ft14 mgt20 w-70">El costo de la capacitación tradicional resulta entre 6x y 10x mayor. Con PREDYC simplificas los procesos administrativos, logísticos, no hay costos ocultos ni inesperados, traslados, viáticos ni sobrecostos por hora de capacitación.</p>
  <p>
      <span class="ftxl yellow-3 mgt20 ft600">Cursos grabados</span>
      <span class="ftxl gray-4 mgl05 ft600">=</span>
      <span class="ftxl gray-2 mgl05 mgb20 ft600">Flexibilidad 24/7</span>
  </p>
  <a href="https://app.predyc.com/est/mi-curso/2uUVGnaAGNiBtCaQys6E" target="_blank" style="position: relative; display: inline-block;" class="container-animcourse">
      <img src="/assets/images/icons/else.png" class="mgt30 mgb30 relative-img " style="width: 60vw; position: relative; z-index: 1;" alt="anim details">
      <img src="/assets/images/icons/saltos.png" class="mgt30 mgb30 salto-blink" style="width: 60vw; position: absolute; top: 0; left: 0; z-index: 2;" alt="Play Icon">
      <img src="/assets/images/icons/playcurso.png" class="mgt30 mgb30 play-icon2" style="width: 60vw; position: absolute; top: 0; left: 0; z-index: 3;" alt="Play Icon img">

      

  </a>
</div>
