<header class="banner ">
    <div class="title-container mgt40   ">
        <h1 class="   gray-1" style="font-size: 1.5rem!important; font-family: Inter-medium;  "><span class="ft600 yellow-3 "  style="font-size: 1.8rem!important; ">Capacitación Técnica </span> <br>
        para departamentos de Mantenimiento
        </h1>
        <p class="mgt10 lightText ft16 gray-2 ; " style="font-family: Inter;">Entrenamiento personalizado para Gerentes, Supervisores, Técnicos y Lideres de equipos de Mantenimiento Industrial.</p>
            <button class="yellowButton  radius6 ft16 gray-10 ft500 HOME-BANNER-BTN-1"  style="margin-top: 22px;" (click)="showPopup()">Solicita una demostración</button>

        <p class=" gray-2  ital ft500 ft13" style="margin-top: 28px; font-family: Inter;">La <span class="ft14 yellow-5">Confiabilidad</span> inicia con la Capacitación</p>
        <p class="mgt05 gray-4 ft13 ital">Predictiva21 - La revista de Mantenimiento #1 en LATAM</p>

    </div>
    
</header>


<section class="plan-generator fw  pdt30 pdb30 "style="background-color: #f2f2f2;">
    <app-plan-generator-mobile></app-plan-generator-mobile>
</section>
<section class=" fw">
    <app-courses-home-mobile></app-courses-home-mobile>
</section>
<section class="fw">
    <div class="fw backDark pdt20  pdb20 centertext colCenter" style="padding-left: 16px; padding-right: 16px;">
        <div class="chipYellow gray-9 ft500">E-learning / LMS</div>
        <h2 class="ft18 gray-2 mgt10 ft600 " style="text-align: left; font-family: Inter-bold">
            E-learning resulta más efectivo cuando tu equipo tiene muchas personas</h2>
            <p class="yellow-3 ft14 mgt05" style="text-align: left; font-family: Inter-medium;">
                El costo de la capacitación tradicional resulta entre 6x y 10x mayor. Con PREDYC simplificas los procesos administrativos, logísticos, no hay costos ocultos ni inesperados, traslados, viáticos ni sobrecostos por hora de capacitación.</p>
        <p class="mgt10 mgb20" >
          <span class="ft18 yellow-3  ft600">Cursos grabados</span>
          <span class="ft18 gray-4 mgl05 ft600">=</span>
          <span class="ft18 gray-2 mgl05 ft600">Flexibilidad 24/7</span>
        </p>
        <!-- <a href="https://app.predyc.com/est/mi-curso/2uUVGnaAGNiBtCaQys6E" target="_blank">
             <img src="/assets/images/design/Clases-grabadas-predyc.webp" style="width: 90vw;  " alt="img clases grabadas">
        </a> -->


        <a href="https://app.predyc.com/est/mi-curso/2uUVGnaAGNiBtCaQys6E" target="_blank" style="position: relative; display: inline-block;">
            <img src="/assets/images/icons/else.png" class="" style="width: 90vw; position: relative; z-index: 1;" alt="">
            <img src="/assets/images/icons/saltos.png" class=" salto-blink" style="width: 90vw; position: absolute; top: 0; left: 0; z-index: 2;" alt="">
            <img src="/assets/images/icons/playcurso.png" class="  play-icon2" style="width: 90vw; position: absolute; top: 0; left: 0; z-index: 3;" alt="Play Icon img">

        </a>
      </div>
      
</section>

<section class="RH fw "  style="background-color: #f2f2f2;">
    <app-rh-info-mobile></app-rh-info-mobile>
</section>
<section class="RH fw  pdb10" >
    <!-- <app-plan-diagnostico></app-plan-diagnostico>
     -->
     <div class="fw  colCenter" style="padding-left: 16px; padding-right: 16px;">
        <div class="fw  mgt20 column">
            <h2 class="ft18 gray-10 ft600 w-90" style="text-align: left; font-family: Inter-bold">
                Diagnóstico inicial para sentar una línea base de conocimientos       </h2>
            <p class="gray-8 ft14 mgt05 w-90" style="text-align: left; font-family: Inter-medium;">
                Ejecutamos un examen inicial para detectar se tienen conocimientos fundamentales de las distintas áreas de mantenimiento. Es importante conocer si dentro del equipo todos dominan los conceptos base.        </p>
                <img alt="imgagen resultado examen" style="width: 100%;  margin-top: 16px;" src="/assets/images/icons/diag-2cut.svg" >
            </div>
    </div>

</section>

<section class="RH fw "  style="background-color: #f2f2f2;">
    <div class="fw  colCenter" style="padding-left: 16px; padding-right: 16px;">
        <div class="fw  mgt20 column mgb10">
            <h2 class="ft18 gray-10 ft600 w-90" style="text-align: left; font-family: Inter-bold">
                Asistencia dedicada de nuestro equipo para ayudarte a dar seguimiento y controlar tu equipo       </h2>
            <p class="gray-8 ft14 mgt05 w-90" style="text-align: left; font-family: Inter-medium;">
                Hacemos el Onboarding de tu equipo viendo las necesidades de cada persona, 
                luego en conjunto contigo hacemos control y seguimiento para que cada persona complete su plan de estudio.</p>
            <img style="width: 100%; padding: .5rem; " alt="imgagen asistencia" src="/assets/images/icons/asist-cut.svg" >
        </div>
    </div>
    
</section>

<section id="seccionPrecios" class="RH fw" style="background-color: white;">
    <app-cards-pricing></app-cards-pricing>
</section>


<section class="empresas-predyc  pdt20  pdb20 " style="padding-left: 16px; padding-right: 16px; background-color: #f2f2f2;">
    <div class="centertext ft18 ft750 gray-6 ">
        Empresas que confían en Predyc
    </div>

    <div class="column mgt10">
        <a href="https://youtu.be/GBHYTCMyMGM?si=5cAav9z161G58Ugg" target="_blank" style="display: block; position: relative;">
            <img style="width: 100%; border-radius: 8px;" src="assets/images/demo/carlos-lozano.webp" alt="Carlos Lozano">
            <div class="play-overlay">
                <img class="play-icon" src="assets/images/icons/play-btn.svg" alt="Play Icon">
            </div>
        </a>
        
        <div class="mgt10">
            <div class="ft16 ft750 gray-10">
                ICA Fluor O&M invierté en +5,000 horas de capacitación para su equipo de Mantenimiento, que incluye profesionales técnicos, supervisores y gerentes con PREDYC
            </div>
            <p class="ft12 mgt10">
                Una ventaja importante es la facilidad de tomar los cursos en línea. Desplazar al personal para recibir entrenamiento siempre ha sido un desafío debido a los costos y la logística involucrada, como vuelos y hoteles. Realizar el entrenamiento en línea ayuda a reducir estos gastos y facilita el proceso.
                <br><br>
                En colaboración con Predyc, establecimos los temas que cada persona debe conocer y estudiar. Diseñamos un plan en el que los técnicos, supervisores y gerentes dedican un tiempo específico cada mes al estudio. Dividimos esto en un año, asegurando que cada persona tenga claras sus asignaciones de formación.
            </p>
        </div>
    </div>
    

</section>

<app-demo-request-popup *ngIf="isPopupVisible" style="margin-left: 16px; margin-right: 16px;" (close)="hidePopup()"></app-demo-request-popup>

<app-footer-mobile></app-footer-mobile>
<!-- <footer></footer> -->