<div class="fw  pdt60  pdb40 centertext colCenter" style="background-color: #f8f8f8;">
  <h2 class="ftxl gray-10 ft600  w-70 ">Diagnóstico inicial para sentar una línea base de conocimientos

  </h2>
  <p class="gray-8 ft14 mgt20 mgb20 w-60">Ejecutamos un examen inicial para detectar se tienen conocimientos fundamentales de las distintas áreas de mantenimiento. Es importante conocer si dentro del equipo todos dominan los conceptos base. 
  </p>

    <img src="/assets/images/design/Diagnostico-predyc.webp" style="width: 90vw; align-items: center; margin-top: 2rem;" alt="">

</div>
<!-- NO BORRAR ESTO -->
<!-- <div class="organization-chart pd20" style="position: relative;">
  <div class="profiles w-30 " style="padding-top: 34px;">
    <div 
      class="row gap1 backWhite profileMini ListHover3 shadow-animation3" 
      *ngFor="let plan of trainingPlans" 
      (click)="selectPlan(plan)"
      [ngClass]="{ 'selected-profile': selectedPlan === plan }"
      style="height: 8vh;">
      <img [src]="plan.image" class="plan-mini" alt="">
      <div class="column">
        <span class="ft500 gray-10">{{ plan.nombre }}</span>
        <span>{{ plan.perfil }}</span>
      </div>
    </div>
  </div>
  
  <div class="horizontal-line"></div>
  
  <div class="w-70 column containerPerfil radius6 gap2  pd20">
    <div class="fw" style="margin-left: 2rem;">
      <div style="display: flex; justify-content: space-between; align-items:center; align-self: start;">
        <div style="flex: 1;">
          <canvas class="w-50 " id="radarChart"></canvas>
        </div>
        <div style="flex: 1;" class="barraChart">
          <canvas id="barChart"></canvas>
        </div>
      </div>
    </div>
      
  </div>
</div> -->
