

<div *ngIf="!onlyFooter" style="background: linear-gradient(to right, #f6e177, #ffb700);" >
    <div class="column  mgl10 gap1 center grid-80 ">
        
        <div id="formFooterMovile" class="mgt20 fw pdb20">

            <!-- <span  class="mgb10 ft22 ft500">Solicita más información</span> -->
            <h2 class="ft18 gray-10 ft600 w-90 mgb10" style="text-align: left; font-family: Inter-bold">
                Solicita más información        
            </h2>
            <app-reunion-form btnText="Enviar" btnTextColor="white"  buttonColor="#13A6EF" buttonHoverColor="#32C1FF" type="info" campana="" [anuncio]="null" interes=""
            subject="Nuevo llenado formulario footer" [recipients]="['liliana.giraldo@predyc.com','andres.gonzalez@predyc.com','desarrollo@predyc.com']"
            responsable="" origen="{{currentUrl}}" 
            lugar="footer" (formSubmit)="handleFormSubmit($event)">
            </app-reunion-form>
        </div>
    </div>


</div>

<div style="background: #242838;">

    

    <div class="fw pdl20 pdr40 pdb30 " style="display: flex; gap: 4rem;">

       
        <div class=" mgr08 ">
            <div class="row personas-footer" style="gap: 2rem; justify-content: space-between; align-items: stretch; margin-top: 30px;">
                <div class="column" style=" width: 40vw;  flex-direction: column;   ">
                    <p class=" ft14 mgt05 ft500 " style="color: rgb(246, 225, 119);" >Planes de capacitación</p>
                    <a href="https://predictiva21.com/plan-gerentes-mantenimiento/">
                        <p class=" ft12 mgt05 ft500 " style="color: rgb(191, 191, 191);" >Gerente</p>
                    </a>
                    <a href="https://predictiva21.com/plan-coordinador/">
                        <p class=" ft12 mgt05 ft500 " style="color: rgb(191, 191, 191);" >Coordinador</p>
                    </a>
                    <a href="https://predictiva21.com/plan-capacitacion-ing-mantenimiento/">
                        <p class=" ft12 mgt05 ft500 " style="color: rgb(191, 191, 191);" >Ing. Mantenimiento</p>
                    </a>
                    <a href="https://predictiva21.com/plan-tec-mecanico/">
                        <p class=" ft12 mgt05 ft500 " style="color: rgb(191, 191, 191);" >Téc. Mecánico</p>
                    </a>
                    <a href="https://predictiva21.com/plan-tecnico-instrumentista/">
                        <p class=" ft12 mgt05 ft500 " style="color: rgb(191, 191, 191);" >Téc. Instrumentista</p>
                    </a>
                    <a href="https://predictiva21.com/plan-capacitacion-tec-predictivo/">
                        <p class=" ft12 mgt05 ft500 " style="color: rgb(191, 191, 191);" >Téc. Predictivo</p>
                    </a>
                    <a href="https://predictiva21.com/plan-tecnico-especialista/">
                        <p class=" ft12 mgt05 ft500 " style="color: rgb(191, 191, 191);" >Téc. Especialista</p>
                    </a>
                    <a href="https://predictiva21.com/plan-capacitacion-operador/">
                    <p class=" ft12 mgt05 ft500 " style="color: rgb(191, 191, 191);" >Operador</p>

                    </a>
                 <!-- <div class="grayLine" style=" margin-bottom: 12px;"> </div> -->
                    

                </div>
                <div class="column" style=" width: 40vw;  flex-direction: column;   ">
                    
                    <a href="">
                        <p class=" ft14 mgt05 ft500 " style="color: rgb(246, 225, 119);" >Diplomados</p>
                    </a>
                    <a href="https://predictiva21.com/diplomado-mantenimiento/">
                        <p class=" ft12 mgt05 ft500 " style="color: rgb(191, 191, 191);" >Mantenimiento</p>
                    </a>
                    <a href="https://predictiva21.com/diplomado-confiabilidad-2022-online/">
                        <p class=" ft12 mgt05 ft500 " style="color: rgb(191, 191, 191);" >Confiabilidad</p>
                    </a>
                    <a href="">
                        <p class=" ft12 mgt05 ft500 " style="color: rgb(191, 191, 191);" >Predictivo</p>
                    </a>
                    <a href="">
                        <p class=" ft14 mgt05 ft500 " style="color: rgb(246, 225, 119);" >Cursos más solicitados</p>
                    </a>
                    <a href="https://app.predyc.com/est/mi-curso/TLJp4DXtQVQ4v9rJ3cG4">
                        <p class=" ft12 mgt05 ft500 " style="color: rgb(191, 191, 191);" >RCM</p>
                    </a>
                    <a href="https://app.predyc.com/est/mi-curso/2urIVPu7SS6zuGlhlDEA">
                        <p class=" ft12 mgt05 ft500 " style="color: rgb(191, 191, 191);" >Vibraciones CAT I</p>
                    </a>
                    <a href="https://app.predyc.com/est/mi-curso/FYzasDqwfuygcUFCTN3P">
                        <p class=" ft12 mgt05 ft500 " style="color: rgb(191, 191, 191);" >Termografía</p>
                    </a>
                    <a href="https://app.predyc.com/est/mi-curso/Vgv8b7hOdGpfhTa7d5Qp">
                        <p class=" ft12 mgt05 ft500 " style="color: rgb(191, 191, 191);" >TPM</p>
                    </a>                
                </div>
               
            </div>  
            <div class="row personas-footer" style="gap: 2rem; justify-content: space-between; align-items: stretch; margin-top: 30px;">

                <div class="column" style=" width: 40vw;  flex-direction: column;   ">
                    <p class=" ft14 mgt05 ft500 " style="color: rgb(246, 225, 119);" >Soporte</p>
                    <a [routerLink]="['/terminos-condiciones']">                    
                        <p class=" ft12 mgt05 ft500 " style="color: rgb(191, 191, 191);" >Términos y condiciones</p>
                    </a>
                    <a [routerLink]="['/politica-privacidad']">
                        <p class=" ft12 mgt05 ft500 " style="color: rgb(191, 191, 191);" >Politica de privacidad</p>

                    </a>
                    <a href="https://wa.link/xrqtkp" target="_blank">
                        <p class=" ft12 mgt05 ft500 " style="color: rgb(191, 191, 191);" >Habla con un especialista</p>

                    </a>
                </div>
                <div class="column" style=" width: 40vw;  flex-direction: column;   ">
                    <p class=" ft14 mgt05 ft500 " style="color: rgb(246, 225, 119);" >Becas</p>
                    <p class=" ft12 mgt05 ft500 " style="color: rgb(191, 191, 191);" >Becas a estudiantes</p>
                    <p class=" ft12 mgt05 ft500 " style="color: rgb(191, 191, 191);" >Becas a particulares</p>
                    <p class=" ft12 mgt05 ft500 " style="color: rgb(191, 191, 191);" >Becas a institutos</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="ft10 gray-6  pdb30" style="display: flex; justify-content:center ">Predyc Todos los derechos
        Reservados | Términos y condiciones | Consulta nuestro aviso y política de privacidad</div> -->
    <div class="ft10 gray-6  pdb30" style="display: flex; justify-content:center ">Predyc Inc. Todos los derechos
        Reservados </div>
</div> 

